services:
    engineblock.controller.authentication.service_provider:
        class: OpenConext\EngineBlockBundle\Controller\ServiceProviderController
        arguments:
            - "@engineblock.compat.application"
            - "@session"

    engineblock.controller.authentication.identity_provider:
        class: OpenConext\EngineBlockBundle\Controller\IdentityProviderController
        arguments:
            - "@engineblock.compat.application"
            - "@twig"
            - "@engineblock.compat.logger"
            - "@engineblock.service.request_access_mailer"
            - "@engineblock.validator.sso_request_validator"
            - "@session"

    engineblock.controller.authentication.index:
        class: OpenConext\EngineBlockBundle\Controller\IndexController
        arguments:
            - "@twig"
            - "%encryption_keys%"

    engineblock.controller.authentication.feedback:
        class: OpenConext\EngineBlockBundle\Controller\FeedbackController
        arguments:
            - "@translator"
            - "@twig"
            - "@engineblock.compat.logger"

    engineblock.controller.authentication.metadata:
        class: OpenConext\EngineBlockBundle\Controller\MetadataController
        arguments:
            - "@engineblock.compat.application"

    engineblock.controller.authentication.certificate:
        class: OpenConext\EngineBlockBundle\Controller\CertificateController
        arguments:
            - "@engineblock.compat.application"

    engineblock.controller.authentication.debug:
        class: OpenConext\EngineBlockBundle\Controller\DebugController
        arguments:
            - "@engineblock.compat.application"
            - "@session"

    engineblock.controller.authentication.wayf:
        class: OpenConext\EngineBlockBundle\Controller\WayfController
        arguments:
            - "@engineblock.compat.application"
            - "@twig"

    engineblock.controller.authentication.proxy:
        class: OpenConext\EngineBlockBundle\Controller\ProxyController
        arguments:
            - "@engineblock.compat.application"

    engineblock.controller.authentication.logout:
        class: OpenConext\EngineBlockBundle\Controller\LogoutController
        arguments:
            - "@twig"

    engineblock.service.request_access_mailer:
        class: OpenConext\EngineBlock\Service\RequestAccessMailer
        arguments:
            - "@mailer"
            - "%email_request_access_address%"
