.l-container
  max-width: $containerWidth
  z-index: 0
  padding: 1rem

  +min-width($medium)
    margin: 0 auto 3rem
    padding: 0 2rem

  &.wide
    max-width: $containerWidth*1.5
    width: auto

.mod-content
  padding: 2rem

  ul, p
    margin-bottom: 1rem

  ul
    list-style: square
    margin-bottom: 1.5rem
    padding-left: 0

  dl dd li
    margin: 0
    padding: 0
    border: 0

  dd
    margin-left: calculateRem(24px)

  header
    display: flex
    align-items: center
    margin-bottom: 0.5rem
    padding-bottom: 1.5rem
    border-bottom: 1px solid $lightGrey
    flex-direction: row
    flex-wrap: nowrap

    h1
      margin-bottom: 0
      font-size: 200%
      font-weight: bold
      flex-basis: 100%
      flex-grow: 2

    img
      max-height: 4rem
      width: auto
      margin-right: 1rem

.strong
  font-weight: bold

.box
  background: #fff
  border-radius: $br
  box-shadow: 0 1px $br rgba(black,.2)
