.mod-search
  @extend %box
  margin-bottom: 2rem
  +max-width($medium)
    margin-bottom: 1rem

  fieldset
    border: 0
    padding: 0
    margin: 0

  input
    @extend %h2
    display: block
    border: 0
    border-radius: $br
    width: 100%
    padding: .5rem 1rem
    line-height: 40px
    background: #fff inline_image("icons/magnifying-glass-1.svg") no-repeat right center
      size: 1rem auto
    background-origin: content-box

    &::-webkit-search-cancel-button
      -webkit-appearance: none

    &:focus
      outline: none

      & + .results
        display: block
