form#accept
  float: left

form#reject
  float: right

+max-width($medium)
  #approve
    text-align: center
    p
      display: inline
    .c-button
      margin-bottom: 0.5em
  form#accept, form#reject
    float: none

p.grey
  clear: both
