.mod-footer
  padding: 2rem
  border-top: 1px solid $border-dark
  margin: 0 auto
  text-align: center

  +min-width($medium)
    display: flex
    justify-content: space-between
    align-items: center

