.mod-results
  overflow: hidden

  a
    display: flex
    padding: 20px
    align-items: center
    text-decoration: none

    &:hover
      background: lighten($blue, 40)

    img
      max-height: 30px
      margin-right: 20px

    .c-button
      margin-left: auto
      display: none

