.mod-results.mouse-nav
  a.result
    &:active,
    &:hover
      outline: none
      background: $blue
      color: #fff
      border-bottom: 1px solid $blue

.mod-results
  @extend %box
  overflow: hidden
  margin-bottom: 2rem

  +max-width($medium)
    margin-bottom: 1rem

  header
    background: rgba($border,.5)
    padding: .75rem 1.25rem
    color: $medium-grey
    border-bottom: 1px solid $border

    a
      float: right
      font-size: 0.8em

  a.result
    display: flex
    padding: .75rem 1.25rem
    align-items: center
    text-decoration: none
    border-bottom: 1px solid $border

    .ie9 &
      display: block

    &.focussed
      outline: none
      background: $blue
      color: #fff
      border-bottom: 1px solid $blue

    &:focus
      outline: none
      background: $blue
      color: #fff
      border-bottom: 1px solid $blue

    // Display buttons under text
    +max-width($medium)
      flex-direction: column
      align-items: flex-start

    // Display buttonon focus
    +min-width($medium)
      &:focus,
      &.focus,
      &.focussed
        .action
          display: inline-block

    .ie9 & h3
      display: inline

  .loading
    display: flex
    padding: 0.75rem 1.25rem
    align-items: center
    color: $medium-grey
    border-bottom: 1px solid $border

    img
      max-width: 1.5rem !important
      max-height: 1.5rem !important

  .logo
    width: 4rem
    height: 3rem
    margin-right: 1.5rem
    display: inline-flex

    .ie9 &
      display: inline
      vertical-align: middle

    img
      margin: 0

    .letter
      width: 3rem
      height: 3rem
      background: rgba(0,0,0,.1)
      text-transform: uppercase
      color: #fff
      text-align: center
      line-height: 3rem
      border-radius: 1.5rem
      margin: auto

    +max-width($medium)
      display: none

  // Default displaying for the button
  .action
    display: none
    margin-left: auto

  // Styling for remove list
  .remove-list
    .result
      +max-width($medium)
        flex-direction: row
        align-items: center

    .c-button.img
      margin-left: auto

  // Always display button in no-access section
  .show-buttons
    .action
      display: inline-block

      +max-width($medium)
        margin-right: auto
        margin-left: 0

  // remove last line of last link
  .list:last-child
    a:last-child,
    .loading:last-child
      border: 0
