.tippy-tooltip.light-theme
  background-color: white
  border: 1px solid $border-dark
  color: $dark-grey

  .tippy-arrow
    border-right: 7px solid transparant
    border-left: 7px solid transparant

.tippy-popper[x-placement^=top]
  .tippy-arrow
    border-top: 7px solid $border-dark

.tippy-popper[x-placement^=bottom]
  .tippy-arrow
    border-bottom: 7px solid $border-dark
