@use "../../../../base/stylesheets/mixins"
@use "../vars.css.sass" as vars

.mod-footer
  padding: 2rem
  border-top: 1px solid vars.$border-dark
  margin: 0 auto
  text-align: center

  +mixins.min-width(vars.$medium)
    display: flex
    justify-content: space-between
    align-items: center


  .footer-menu
    display: inherit
    width: 100%

  .footer-menu li.nav-row
    display: block

    +mixins.min-width(vars.$medium)
      width: 20%
    &.left, &.right
      +mixins.min-width(vars.$medium)
        width: 40%

    &.left
      +mixins.min-width(vars.$medium)
        text-align: left

    &.right
      +mixins.min-width(vars.$medium)
        text-align: right

  .center-footer
    position: absolute
    width: 100%
    left: 0
    margin-top: 5px

  .over-center
    z-index: 100
