@use "sass:color"

// Colors
$blue: #4DB3CF
$light-blue: #DFF6FB
$medium-blue: #CAECF4
$dark-blue: #017499
$darkest-blue: #19282D
$red: #dd3939
$red-light: color.mix(color.adjust($red,$lightness: 30%),white)
$green: #95b926
$bright-green: #008000
$orange: #ec9a0a
$yellow: #ffcc00
$light-grey: color.adjust(black,$lightness: 95%)
$medium-grey: #a2a2a2
$lighter-dark-grey: #a9a9a9
$dark-grey: #2b3f44
$table-bg: #f7f7f7
$link-grey: #6f6f6f
$light-pink: #fbdddb

// borders
$border: color.adjust(black,$lightness: 90%)
$border-light: rgba(white, .1)
$border-dark: rgba(black, .1)

// Sizes
$padding: 2rem
$padding-em: 2em
$br: 4px

// Screen
$small: 400px
$medium: 800px
$large: 1200px
$container-width: 50rem

// Fonts
$fa-font-path: "../fonts/"
$fa-var-warning: "\f071"
$fa-var-circle-question: "\f059"
$fa-var-external-link: "\f08e"
$fa-var-chevron-down: "\f078"
$fa-var-chevron-up: "\f077"
$fa-var-times: "\f00d"

$font: Helvetica, sans-serif
$f-small: 13px
$f-normal: 15px
$f-large: 18px
$f-xl: 36px
