@use "../../../../base/stylesheets/mixins"
@use "../vars.css.sass" as vars

.comp-language
  z-index: 10000
  position: relative
  margin-right: 1rem
  line-height: 1.75rem
  display: flex
  justify-content: center
  flex-wrap: nowrap

  li
    list-style: none

    &:first-child
      a, button
        border-radius: vars.$br 0 0 vars.$br

    &:last-child
      a, button
        border-radius: 0 vars.$br vars.$br 0

  a, button
    border: 0
    color: vars.$blue
    cursor: pointer
    display: block
    line-height: 1.75rem
    padding: 0 0.5rem
    font-size: 0.8rem
    background: rgba(vars.$blue,.1)
    margin-right: 1px
    text-decoration: none

    &:hover,
    &.selected
      background: vars.$blue
      color: #fff

  +mixins.max-width(vars.$medium)
    margin: 1rem 0

