@import "partials/general";
@import "partials/clearfix";
@import "partials/panel";
@import "partials/faq";
@import "partials/jqscroll";
@import "partials/nav-top";
@import "partials/attribute-table";

div.results {
  background: url(../../media/bck2-small.png) no-repeat left top;
  width: 451px;
  height: 95px;
  display: block;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding: 3px 0px 3px 0px;
}

#scrollViewport {
  overflow: hidden;
  height: 91px;
}

/* IE7 hacks */
input.bigbutton {
    padding: 0 .25em;
    width: 0;  /* IE table-cell margin fix */
    overflow: visible;
}

input.bigbutton[class] {  /* IE ignores [class] */
    width: auto;  /* cancel margin fix for other browsers */
}
