* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  color: #333;
  font: 12px/17px Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #e7e7e7; }

h1 {
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 0;
  color: #fff; }

h2, h3 {
  font-size: 14px;
  margin: 0 0 3px 0;
  padding: 0; }

p {
  padding: 0;
  margin: 0 0 8px 0; }

a {
  color: #288dd5;
  text-decoration: none;
  outline: none; }

a:hover {
  text-decoration: underline; }

hr {
  border: none;
  border-bottom: 1px solid #d7d7d7;
  margin: 10px 0 10px 0;
  padding: 0;
  height: 1px; }

:focus {
  outline: none; }

.word-wrap {
  word-wrap: break-word; }

.clearfix:after,
#main:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* html .clearfix {
  height: 1%; }

div#wrapper {
  margin: 0 auto;
  width: 478px; }

div#header {
  background: url(../../media/headerBck.gif) no-repeat left bottom;
  padding: 15px 0 34px 22px;
  margin-bottom: 10px; }

div#main {
  background: url(../../media/contentBck.gif) no-repeat left top;
  padding: 12px 14px 0px 14px;
  margin-bottom: 20px;
  position: relative;
  /*height: 472px;*/ }

div#main div.bottom {
  background: url(../../media/contentBtm.gif) no-repeat left bottom;
  width: 450px;
  padding: 8px 14px 10px 14px;
  position: relative;
  bottom: 0;
  left: 0;
  margin-left: -14px; }

div#main h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 310px; }

p.back {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 10px; }

p.back a {
  background: url(../../media/back.png) no-repeat left center;
  padding: 1px 0 2px 22px;
  margin-left: -3px; }

#faq {
  list-style: none;
  margin: 0;
  padding: 6px 9px 9px 9px; }

#faq li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 5px;
  padding-bottom: 3px;
  clear: both;
  display: block; }

#faq li ul {
  padding: 0; }

#faq li ul li {
  border: none;
  padding-left: 10px;
  background: url(../../media/bullet1.gif) no-repeat 3px 7px; }

#faq li h3 {
  padding-right: 10px;
  color: #419bda;
  cursor: pointer;
  background: url(../../media/down.gif) no-repeat right 6px;
  font-size: 12px; }

#faq li.open {
  padding-bottom: 20px; }

#faq li.open h3 {
  background: none; }

#faq li h3:hover {
  text-decoration: underline; }

span.openClose {
  cursor: pointer;
  float: right;
  color: #288dd5;
  background: url(../../media/up.gif) no-repeat right 6px;
  padding-right: 12px;
  clear: both;
  display: none; }

span.openClose:hover {
  text-decoration: underline; }

#faq li.open span.openClose {
  display: block; }

#faq li p, #faq li ul {
  display: none; }

#faq li.open p, #faq li.open ul {
  display: block; }

#scrollViewport {
  overflow: hidden;
  height: 235px; }

#scrollViewportHelp {
  height: 235px; }

.jspVerticalBar {
  background-color: transparent; }

.jspCap {
  /* Top and bottom insets */
  display: block;
  height: 7px; }

.jspTrack {
  /* Scroll track */
  width: 10px;
  background: #e2ebf4 url(../../media/scrollBck.gif) no-repeat left top; }

.jspDrag {
  /* Scroll handle */
  width: 8px;
  margin: 0 auto;
  background: #419bda;
  border: 1px solid #3f769d;
  display: block;
  position: absolute;
  outline: none; }

.jspArrowUp, .jspArrowUp.jspDisabled {
  height: 13px;
  background: url(../../media/slider_up.gif) no-repeat left 5px; }

.jspArrowDown, .jspArrowDown.jspDisabled {
  height: 10px;
  background: url(../../media/slider_down.gif) no-repeat left 2px; }

ul.nav {
  float: right;
  list-style: none;
  text-transform: uppercase; }

ul.nav li {
  float: left;
  list-style: none;
  font-weight: bold;
  background: url(../../media/divider.gif) no-repeat left 3px;
  margin-left: 5px;
  padding-left: 6px; }

ul.nav li a {
  color: #fff;
  padding-bottom: 6px; }

ul.nav li.active a {
  color: #1166a4;
  background: url(../../media/menu_active.gif) no-repeat center bottom; }

ul.nav li:first-child {
  background: none; }

ul.nav li.first {
  background: none; }

ul.nav li.first.active a {
  background-image: none; }

table, tr, th, td {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
  margin: 0;
  padding: 0; }

th {
  border-bottom: 1px solid #C1C1BD;
  border-top: 1px solid #C1C1BD;
  color: #999996;
  font-weight: normal;
  text-align: left; }

th, td {
  padding: 5px;
  vertical-align: top; }

td {
  border-left: 1px dotted #C1C1BD; }

td:first-child {
  border-left: 0 none; }

tr.odd {
  background-color: #dadada;
  border-right: 1px solid #dadada; }

div.results {
  background: url(../../media/bck2-small.png) no-repeat left top;
  width: 451px;
  height: 95px;
  display: block;
  margin-bottom: 0;
  position: relative;
  overflow: visible;
  padding: 3px 0px 3px 0px; }

#scrollViewport {
  overflow: hidden;
  height: 91px; }

/* IE7 hacks */
input.bigbutton {
  padding: 0 .25em;
  width: 0;
  /* IE table-cell margin fix */
  overflow: visible; }

input.bigbutton[class] {
  /* IE ignores [class] */
  width: auto;
  /* cancel margin fix for other browsers */ }
