// On the error page we use a fixed width for breakpoints
$small: 720px
// And ew use some of the OpenConext colors, they are added here for containing them
// in the error page styling.
$blue: #4DB3CF
$dark-blue: #017499
$dark-grey: #2b3f44
$light-blue: #DFF6FB
$light-grey: lighten(black,95)
$medium-blue: #CAECF4

$font: Helvetica, sans-serif
$br: 4px
$medium: 800px
$f-small: 13px

html
  height: 100%
body
  height: 100%
  background: $medium-blue
  font-family: $font
  +max-width($small)
    background: $light-grey

.l-container
  position: relative
  height: 100%

  +max-width($small)
    padding: 1em

.container.errorPage
  align-items: center
  display: flex
  justify-content: center
  width: 100%

*, *:before, *:after
  box-sizing: border-box
