<html>
<body>
<p>Hello {{uid}}!!</p>
<p>Coming from {{issuer_id}}</p>
<p>Going to {{service_entity_id}}</p>
<p><input type=checkbox> Accept AUP</p>
<p><a href="{{url}}">Continue</a></p>
</body>
</html>
