<div class="ctas">
    {# todo: link to where? #}
    {% include '@theme/Default/Partials/buttonLink.html.twig' with
        {
          buttonUrl: '#',
          text: 'consent_ok'|trans
        }
    %}
    <input type="checkbox" id="cta_consent_nok" class="modal">
    <label class="modal" tabindex="0" for="cta_consent_nok">
        <span class="secondaryBorder">
            {{ 'consent_buttons_nok'|trans }}
        </span>
    </label>
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/reject.html.twig' %}
</div>
