<div class="ctas">
    {# todo: link to where? #}
    {% include '@theme/Default/Partials/buttonLink.html.twig' with
        {
          buttonUrl: '#',
          text: 'consent_ok'|trans
        }
    %}
    {% include '@theme/Default/Partials/button.html.twig' with { text: 'consent_buttons_nok'|trans } %}
</div>
