{% set readMoreUrl = 'openconext_support_url'|trans %}
{% set readMoreText = 'slidein_read_more'|trans %}
{% set aboutText = 'consent_slidein_about_text_new'|trans({'%profileUrl%': profileUrl}) %}
{% set modalAbout = 'consent_modal_about'|trans({'%about_text%': aboutText, '%read_more_url%': readMoreUrl, '%read_more_text%': readMoreText }) %}
<ul class="consent__disclaimer">
    <li class="disclaimer__privacy">
        <p>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/file_info.svg' %}
            {% if sp.coins.termsOfServiceUrl is not null %}
                {{ 'consent_disclaimer_privacy'|trans({'%org%': spName, '%privacy_url%': sp.coins.termsOfServiceUrl})|raw }}
            {% else %}
                {{ 'consent_disclaimer_privacy_nolink'|trans({ '%org%': spName })|raw }}
            {% endif %}
        </p>
    </li>
    <li class="disclaimer__secure">
        <div>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/SVG/shield_key.svg' %}
            <div>
                {% if nameIdIsPersistent %}
                    {{ 'consent_disclaimer_secure'|trans({'%suite_name%': 'suite_name'|trans, '%modal_about%': modalAbout})|raw }}
                    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/uniqueNumberExplanation.html.twig' %}
                {% else %}
                    {{ 'consent_disclaimer_secure_onemodal'|trans({'%suite_name%': 'suite_name'|trans, '%modal_about%': modalAbout})|raw }}
                {% endif %}
            </div>
        </div>
    </li>
</ul>
