<a href="#">
    <span class="show-more">
        {{ 'consent_attributes_show_more'|trans }}
    </span>
    <span class="show-less">
        {{ 'consent_attributes_show_less'|trans }}
    </span>
</a>
