/build
/vendor/
/www/authentication/generated/
bin/ignore_me.php
/web/bundles
/web/app_dev.php
/web/javascripts/*
/web/stylesheets/*
/web/images/*
/web/fonts/*
!/web/fonts/.gitkeep
/app/cache
/app/logs
/app/SymfonyRequirements.php
/app/check.php
/tmp/
/app/config/functional_testing.yml
/app/config/parameters.yml
/app/config/config_local.yml
.idea
local-php-security-checker
/tests/e2e/node_modules
/tests/.phpunit.result.cache
/languages/overrides.*.php
/theme/node_modules
/theme/.sass-cache
/theme/**/visual-regression/screenshots/*
!/theme/**/visual-regression/screenshots/.gitkeep
/theme/**/__image_snapshots__
