config/packages/parameters.yml

var/cache/*
var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep

public/fonts
public/images
public/javascripts
public/stylesheets

theme/node_modules
vendor

tests/.phpunit.result.cache
tests/e2e/node_modules

coverage.xml

.idea
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
