/build
/vendor/
/www/authentication/generated/
bin/ignore_me.php
/web/bundles
/web/app_dev.php
/web/javascripts/*
/web/stylesheets/*
/web/images/*
/app/cache
/app/bootstrap.php.cache
/app/logs
/app/SymfonyRequirements.php
/app/check.php
/tmp/
/app/config/functional_testing.yml
/app/config/parameters.yml
/app/config/ini_parameters.yml
/app/config/config_local.yml
.idea
/languages/overrides.*.php
/theme/node_modules
/theme/.sass-cache
/theme/**/screenshots
/theme/**/__image_snapshots__/__diff_output__
