<li>
    {% if nameIdIsPersistent %}
        {% set id %}
            tooltip{{ loop.index }}
        {% endset %}
        <input type="checkbox" tabindex="-1" class="tooltip visually-hidden" aria-hidden="true" id="{{ id|trim }}" name="{{ id|trim }}" />
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/name.html.twig' with { attributeName: 'consent_name_id_label'|trans, id: id|trim } %}
    {% else %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/name.html.twig' with { attributeName: 'consent_name_id_label'|trans } %}
    {% endif %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/value.html.twig' with { attributeValue: attributeValues } %}
    {% if nameIdIsPersistent %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig' with {
            tooltipValue: 'consent_name_id_value_tooltip'|trans({'%arg1%': 'suite_name'|trans })
        } %}
    {% endif %}
</li>
