{% if attributeSource == 'engineblock' %}
    {% set organisationName = 'suite_name'|trans %}
    {% set logoUrl = defaultLogo %}
{% elseif attributeSource != 'idp' %}
    {% set organisationName = attributeSourceDisplayName(attributeSource) %}
    {% set logoUrl = attributeSourceLogoUrl(attributeSource) %}
{% else %}
    {% set organisationName = idpName %}
    {% if idpDiscovery is defined and idpDiscovery is not null %}
        {% if idpDiscovery.logo is not null and idpDiscovery.logo.url is not null %}
            {% set logoUrl = idpDiscovery.logo.url %}
        {% else %}
            {% set logoUrl = '/images/placeholder.png' %}
        {% endif %}
    {% elseif idp.logo is not null %}
        {% set logoUrl = idp.logo.url %}
    {% else %}
        {% set logoUrl = '/images/placeholder.png' %}
    {% endif %}
{% endif %}

{% if attributes|length > 5 %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/toggleCheckbox.html.twig' with {
        className: 'openToggle__checkBox',
        id: 'showMoreCheckbox',
    }
    %}
{% endif %}
<ul id="attribute-source-{{ attributeSource }}" class="consent__attributes">
    {% for attributeIdentifier, attributeValues in attributes %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/includeAttribute.html.twig' %}
        {% if loop.last and loop.index >= 6 %}
            <li class="openToggle">
                {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/toggleLabel.html.twig' with {
                    className: 'openToggle__label',
                    for: 'showMoreCheckbox',
                    showMore: 'consent_attributes_show_more',
                    showLess: 'consent_attributes_show_less',
                  }
                %}
            </li>
        {% endif %}
    {% endfor %}

    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/source.html.twig' with {
        logoUrl: logoUrl,
        organisationName: organisationName
    } %}
</ul>
