<div
    class="attribute__name"
    data-identifier="{{ attributeIdentifier }}"
>
    {{ attributeName }}

    {% if id is defined %}
        {% include '@theme/Default/Partials/label.html.twig' with
            {
                button: true,
                class: 'tooltip',
                id: id|trim,
                hideText: true,
                text: 'consent_tooltip_screenreader'|trans
            }
        %}
    {% endif %}
</div>
