<li class="idpRow">
    {% set consentProvidedBy %}
        <span class="idpRow__providedBy-content">{{ 'consent_provided_by'|trans }}  <strong>{{ organisationName }}</strong></span>
    {% endset %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/idpRow.html.twig' with {
        logoUrl: logoUrl,
        organisationName: organisationName,
        text: consentProvidedBy,
    } %}
</li>
