<input type="checkbox" id="showMoreCheckbox" name="showMoreCheckbox" role="button" aria-hidden="true" />
<label tabindex="0" for="showMoreCheckbox">
    <span class="visually-hidden">{{ 'button'|trans }}</span>
    <span class="showMore">
        {{ 'consent_attributes_show_more'|trans }}
    </span>
    <span class="showLess">
        {{ 'consent_attributes_show_less'|trans }}
    </span>
</label>
