{% if tooltipValue %}
    {% set id %}
        tooltip{{ loop.index }}{{ orgId }}
    {% endset %}
    {% include '@theme/Default/Partials/label.html.twig' with
        {
            class: 'tooltip',
            hideText: true,
            id: id|trim,
        }
    %}
    <div class="tooltip__value" role="alert">{{ tooltipValue }}</div>
{% endif %}
