{% if tooltipValue %}
    {% set id %}
        tooltip{{ loop.index }}
    {% endset %}
    {% include '@theme/Default/Partials/label.html.twig' with
        {
            class: 'tooltip',
            id: id|trim,
            hideText: true,
            text: 'consent_tooltip_screenreader'|trans
        }
    %}
    <div class="tooltip__value" role="alert">{{ tooltipValue }}</div>
{% endif %}
