{% if tooltipValue %}
    {% if not id %}
        {% set id = 'tooltip%index%%orgId%'|replace({ '%index%': loop.index, '%orgId%': orgId })|trim %}
    {% endif %}
    <div class="ie11__label">
        {% include '@theme/Default/Partials/label.html.twig' with
            {
                class: 'tooltip',
                hideText: true,
                ariaExpandable: true,
                id: id,
                text: 'consent_tooltip_screenreader'|trans({ '%attr_name%': attributeName|lower }),
            }
        %}
    </div>
    {% apply spaceless %}
    <div
        aria-hidden="true"
        class="tooltip__value"
        data-for="{{ id }}"
        tabindex="-1"
    >
        {{ tooltipValue }}
    </div>
    {% endapply %}
{% endif %}
