{% if tooltipValue %}
    {% set id %}
        tooltip{{ loop.index }}{{ orgId }}
    {% endset %}
    <div class="ie11__label">
        {% include '@theme/Default/Partials/label.html.twig' with
            {
                class: 'tooltip',
                hideText: true,
                id: id|trim,
            }
        %}
    </div>
    <div class="tooltip__value" role="alert" aria-hidden="true">{{ tooltipValue }}</div>
{% endif %}
