@use "sass:color";
@use "../../variables";

.c-button {
    background: variables.$darkBlue;
    border: 1px solid transparent;
    border-radius: 10rem;
    color: variables.$white;
    cursor: pointer;
    display: inline-block;
    font-size: variables.$f-normal;
    line-height: 1rem;
    padding: .5em 1rem;
    text-decoration: none;
    white-space: nowrap;

  &:hover {
      background: color.adjust(variables.$darkBlue, $lightness: -10%);
      text-decoration: underline;
  }

  &.outline {
      background: variables.$white;
      border: 1px solid variables.$borderDark;
      color: variables.$darkBlue;

    &.white {
        background: variables.$white;
        border: 1px solid variables.$darkBlue;
        color: variables.$darkBlue;
    }
  }

  &.remove {
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    line-height: 1rem;
  }

  &.mr {
    margin-right: 1rem;
  }

  &.ml {
    margin-right: 1rem;
  }

  &.longtext {
    white-space: normal;
  }

  &.img {
      border-radius: 1rem;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 2rem;

    img {
        height: 0.6rem;
        vertical-align: middle;
        width: 0.6rem;
    }
  }

  &.c-button-link {
      background: transparent;
      color: color.adjust(variables.$darkBlue,$lightness: -10%);
  }
}
