@use "../../variables";
@use "../../breakpoints";
@use "../../mixins";

.l-container {
  max-width: variables.$containerWidth;
  z-index: 0;
  padding: 1rem;

  @include breakpoints.screen('tabletAndBigger') {
      margin: 0 auto 3rem;
      padding: 0 2rem;
  }

  @include breakpoints.screen('mobile') {
      padding: .5rem;
  }

  &.wide {
    max-width: 100vw;
  }
}

.l-overflow {
  overflow-x: auto;
  @include mixins.scrollbar(8px, rgba(black,.4), 4px, rgba(black,.1), 4px);
}

