.l-container {
  max-width: $containerWidth;
  z-index: 0;
  padding: 1rem;

  @include screen('tabletAndBigger') {
      margin: 0 auto 3rem;
      padding: 0 2rem;
  }

  @include screen('mobile') {
      padding: .5rem;
  }

  &.wide {
    max-width: 100vw;
  }
}

.l-overflow {
  overflow-x: auto;
  @include scrollbar(8px, rgba(black,.4), 4px, rgba(black,.1), 4px);
}

