.error-title {
    text-align: center;
    width: 100%;

    &__heading {
        color: $contrastBlue2;
        font-size: $f-xxl;
        font-weight: bold;
        line-height: $f-xxl + 5;
        word-break: break-word;
    }

    &__error-message {
        color: $darkGrey;
        font-size: $f-large;
        font-weight: bold;
        line-height: 1.5em;
        text-align: left;
    }

    &--institution {
        font-style: italic;
        font-weight: normal;
        margin-bottom: 1em;
    }

    h2 {
        line-height: 3em;

        @include screen('mobile') {
            line-height: 1.5em;
        }
    }

    i {
        font-style: italic;
    }

    ul {
        list-style: disc;
        margin: 0.5em 0 0.5em 1.5em;
    }

    img {
        padding: 0 0 1em 1em;
    }

    img.pull-right {
        float: right;
        margin-left: 1em;
    }
}
