@use "../../../variables" as vars;
@use "../../../breakpoints" as breakpoints;

.feedback-info {
    background: vars.$lightGrey;
    border-radius: 2px;
    padding: 0.5em;
    word-break: break-word;

    @include breakpoints.screen('mobile') {
        float: none;
        margin: 0.5em auto;
        width: 95%;
    }

    &__label {
        display: inline-block;
        font-size: vars.$f-small;
        font-weight: bold;
    }

    &__value {
        color: vars.$blue;
        font-size: vars.$f-small;
        font-weight: bold;
    }

    @include breakpoints.screen('tabletAndBigger') {
        &--identityprovider    { order: 1; }
        &--artcode             { order: 2; }
        &--serviceprovider     { order: 3; }
        &--ipaddress           { order: 4; }
        &--serviceprovidername { order: 5; }
        &--requestid           { order: 6; }
        &--requesturl          { order: 7; }
        &--datetime            { order: 8; }

        &--identityprovidername,
        &--idp-hash,
        &--proxyserviceprovider,
        &--destination,
        &--entityid,
        &--statuscode,
        &--statusmessage {
            grid-column-end: span 2;
            order: 9;
        }
    }
}
