@use "../../../variables" as vars;
@use "../../../breakpoints" as breakpoints;

.feedback-info {
    background: vars.$lightGrey;
    border-radius: 2px;
    padding: 0.5em;
    word-break: break-word;

    @include breakpoints.screen('mobile') {
        float: none;
        margin: 0.5em auto;
        width: 95%;
    }

    &__label {
        display: inline-block;
        font-size: vars.$f-small;
        font-weight: bold;
    }

    &__value {
        color: vars.$blue;
        font-size: vars.$f-small;
        font-weight: bold;
    }

    &--identityprovider,
    &--idp-hash,
    &--serviceprovider,
    &--serviceprovidername,
    &--proxyserviceprovider {
        @include breakpoints.screen('tabletAndBigger') {
            grid-column-end: span 2;
            order: -1;
        }
    }

    &--destination,
    &--entityid,
    &--statuscode,
    &--statusmessage {
        @include breakpoints.screen('tabletAndBigger') {
            grid-column-end: span 3;
            order: -1;
        }
    }
}
