@use "../../../variables" as vars;
@use "../../../breakpoints" as breakpoints;

.comp-language {
    float: right;
    margin: 2em;

    @include breakpoints.screen('mobile') {
        margin: 1em;
    }

    a, button {
        background: white;
        color: vars.$darkBlue;

        &:hover,
        &.selected {
            background: vars.$darkBlue;
            color: vars.$white;
        }
    }
}
