@use "../../../variables" as vars;
@use "../../../breakpoints" as breakpoints;

html {
    height: 100%
}

body {
    background: vars.$mediumBlue;
    height: 100%;
    font-family: vars.$font;

    @include breakpoints.screen('mobile') {
        background: vars.$lightGrey;
    }
}

.l-container {
    height: 100%;
    position: relative;

    @include breakpoints.screen('mobile') {
        padding: 1em;
    }
}

.container.errorPage {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
