{% extends '@themeLayouts/scripts/empty.html.twig' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>EngineBlock Debugging - Redirecting to...</title>
</head>
<body>
<p>
    <a href="{{ location }}">GO</a>
<p>
<pre>{{ print_r(message) }}</pre>

</body>
</html>
{% endblock %}
