<phpunit
        backupGlobals="false"
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">integration</directory>
        </testsuite>
        <testsuite name="eb4">
            <directory suffix="Test.php">library</directory>
            <directory suffix="Test.php">controllers</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="../app/" />
        <server name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <ini name="memory_limit" value="512M" />
    </php>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>
</phpunit>
