@use "../../../../base/stylesheets/mixins"
@use "../../shared/vars.css.sass" as vars
@use "../../shared/utilities/placeholders.css.sass"

.mod-search
  position: relative
  margin-bottom: 2rem

  &.hidden
    display: none

  +mixins.max-width(vars.$medium)
    margin-bottom: 1rem

  fieldset
    border: 0
    padding: 0
    margin: 0

  input
    font-size: 1rem
    @extend %box
    display: block
    border: 0
    border-radius: vars.$br
    width: 100%
    padding: 0.75rem 3.5rem 0.75rem 1rem
    line-height: 2rem
    background: #fff
    background-origin: content-box
    -webkit-appearance: none

    &.mod-search-input
      min-height: 56px

    +mixins.hocus
      outline: none
      box-shadow: 0 1px vars.$br rgba(black,.4)

    // fallback login button for non-javascript
    &.c-button
      padding: 0
      margin-left: 1rem

  &.login
    margin-bottom: 0

  button.search
    position: absolute
    pointer-events: none
    top: 0
    right: 0
    width: 3.5rem
    height: 3.5rem
    border: none

  .search-institutions
    display: none
