@use "../../shared/vars.css.sass" as vars
@use "../../shared/base/type.css.sass"

.mod-redirect
  text-align: center
  display: flex
  width: 100vw
  height: 100vh
  align-items: center
  justify-content: center
  flex-direction: column

  img
    width: 3rem
    margin-bottom: 1rem

  h1
    color: vars.$blue
    @extend %h1

  h2
    @extend %h2
    color: vars.$medium-grey

  p
    @extend %h2
    color: vars.$medium-grey

  form
    pre.trace
      text-align: left
      margin: 0 auto
      width: 500px
      height: 800px

  .hideNoJS
    display: none
