@use "../../../../base/stylesheets/mixins"
@use "../../shared/vars.css.sass" as vars

.mod-tabs

  a
    text-decoration: none
    color: vars.$medium-grey
    display: block

    &:hover,
    &.active
      color: vars.$blue

  +mixins.min-width(vars.$medium)
    ul
      display: flex
      border-bottom: 1px solid vars.$border
      padding: 0 1rem

    li
      margin: 0 1rem

    a
      padding: 1.5rem 0

      &:hover,
      &.active
        border-bottom: 1px solid vars.$blue
        margin-bottom: -1px

  +mixins.max-width(vars.$medium - 1px)
    a
      display: block
      padding: 1rem 2rem
      border-bottom: 1px solid vars.$border

