<p class="footer-button__text footer-button__text--small">{{ 'error_return-sp-link-text-short'|trans }}</p>
<form method="post" action="{{ getAcu() }}">
    <input type="hidden" name="SAMLResponse" value="{{ getSamlFailedResponse() }}"/>
</form>
