.footer
  width: 100%

.footer-buttons
  list-style: none
  background: $blue
  width: 100%
  border-radius: 0 0 5px 5px

  &__link
    border-right: 1px solid white
    display: inline-block
    padding: 1.5em 2em
    text-align: center
    width: 32%
    &:last-child
      border-right: none
.footer-button
  color: white
  cursor: pointer
  display: block
  height: 100%
  width: 100%
  &__text
    margin-top: 0.5em
  &__icon
    font-family: FontAwesome
    text-align: center
    font-size: $f-large
    font-weight: bold
  .fa-wikipedia-w
    background: white
    border-radius: 18px
    color: $blue
    display: inline-block
    font-size: $f-small
    height: 25px
    padding-top: 3px
    width: 25px
