.footer
  width: 100%

.footer-buttons
  background: $blue
  width: 100%
  border-radius: 0 0 5px 5px
  &__link
    border-right: 1px solid white
    background: $blue
    display: inline-block
    text-align: center
    width: 33.3%
    &:hover
      background: $dark-blue
    &:first-child
      border-radius: 0 0 0 5px
    &:last-child
      border-right: none
      border-radius: 0 0 5px 0
.footer-button
  color: white
  cursor: pointer
  display: block
  height: 100%
  text-decoration: none
  padding: 1.5em 2em
  width: 100%
  &:hover
    text-decoration: none
  &__text
    margin-top: 0.5em
    +max-width($small)
      display: none
      font-weight: bold
    &--small
      display: none
      +max-width($small)
        display: block
  &__icon
    font-family: FontAwesome
    text-align: center
    font-size: $f-large
    font-weight: bold
  .fa-wikipedia-w
    background: white
    border-radius: 18px
    color: $blue
    display: inline-block
    font-size: 12px
    height: 19px
    width: 19px
