parameters:
    router.request_context.host:   "engine.%domain%"
    router.request_context.scheme: "https"

    # Where must we store the writable state of the Mock IdP and Mock SP?
    idp_fixture_file: '/tmp/eb-fixtures/db/idp.states.php.serialized'
    sp_fixture_file: '/tmp/eb-fixtures/db/sp.states.php.serialized'
    stepup.sfo.override_engine_entityid: 'https://engine.dev.openconext.local/new/stepup/metadata'
