# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # The fallback link is displayed by default on a specified page, when a locale is not configured/set
    # Ensure you configure fallback links for all possible languages.
    error_feedback_wiki_links:
        fallback:
            en: 'https://example.co.uk/index'
            nl: 'https://example.nl/index'
            pt: 'https://example.pt/index'
        # Specify the template names as the 'key' (where the - is converted to _), and provide an array of wiki links as the 'value'. See example below.
        specified:
            received_invalid_response:
                en: "https://example.co.uk/wiki/page1"
                nl: "https://example.nl/wiki/page1"
                pt: "https://example.pt/wiki/page1"
            clock_issue:
                en: "https://example.co.uk/wiki/page2"
                # The other languages visiting this error page will fall back on the 'fallback' wiki link
