openconext_engineblock_authentication:
    resource: "@OpenConextEngineBlockBundle/Resources/config/routing.yml"
    host:     "engine.{domain}"
    requirements:
        domain: ".*"
    prefix:   /
    defaults:
        domain: "%domain%"

openconext_engineblock_api:
    resource: "@OpenConextEngineBlockBundle/Resources/config/routing_api.yml"
    host:     "engine-api.{domain}"
    requirements:
        domain: ".*"
    prefix:   /
    defaults:
        domain: "%domain%"

openconext_monitor:
    resource: "@OpenConextMonitorBundle/Resources/config/routing.yml"
    prefix: /