services:
    engineblock.bridge.config:
        class: OpenConext\EngineBlockBridge\Configuration\EngineBlockConfiguration
        arguments:
            - ~ # engineblock configuration array

    engineblock.bridge.error_reporter:
        class: OpenConext\EngineBlockBridge\ErrorReporter
        arguments:
            - @engineblock.compat.application
            - @engineblock.compat.logger

    engineblock.bridge.mailer:
        class: OpenConext\EngineBlockBridge\Mail\ZendMailSender
        arguments:
            - "@=service('engineblock.bridge.config').get('email.help')"
            - @engineblock.compat.logger

    engineblock.bridge.log.error_level_activation_strategy:
        public: false
        class:  Monolog\Handler\FingersCrossed\ErrorLevelActivationStrategy
        arguments:
            - "@=service('engineblock.bridge.config').get('logger.conf.handler.fingers_crossed.conf.activation_strategy.conf.action_level')"

    engineblock.bridge.log.manual_or_error_activation_strategy:
        class: EngineBlock_Log_Monolog_Handler_FingersCrossed_ManualOrDecoratedActivationStrategy
        arguments:
            - @engineblock.bridge.log.error_level_activation_strategy

    engineblock.bridge.log.line_formatter:
        public: false
        class: Monolog\Formatter\LineFormatter
        arguments:
            - "@=service('engineblock.bridge.config').get('logger.conf.handler.syslog.conf.formatter.conf.format')"

    engineblock.bridge.log.additional_info_formatter:
        class: EngineBlock_Log_Monolog_Formatter_AdditionalInfoFormatter
        arguments:
            - @engineblock.bridge.log.line_formatter

    engineblock.bridge.log.session_id_processor:
        class: EngineBlock_Log_Monolog_Processor_SessionIdProcessor
        tags:
            - { name: monolog.processor }

    engineblock.bridge.log.request_id_processor:
        class: EngineBlock_Log_Monolog_Processor_RequestIdProcessor
        tags:
            - { name: monolog.processor }
