<h2>{{ 'idps_with_access'|trans|capitalize }}</h2>
{% if showForm %}
    <form method="post" action="{{ action }}">
        <label for="rememberChoice">{{ 'remember_choice'|trans }}</label>
        <input type="checkbox" name="rememberChoice" id="rememberChoice">
    </form>
{% endif %}
