<ul class="wayf__idpList">
    {% for idp in idpList %}
        <li>
            {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp.html.twig' with { idp: idp } %}
        </li>
    {% endfor %}
</ul>
