<section class="wayf__noResults hidden" role="alert">
    <h3>{{ 'wayf_nothing_found'|trans }}</h3>
    <p><span class="visually-hidden">{{ 'wayf_nothing_found'|trans }}</span>{{ 'wayf_apu'|trans }}</p>
</section>
