<div class="preselection mod-results hidden">
    <header>
        <h2>{{ 'our_suggestion'|trans }}<a class="edit" href="#" data-toggle="view" data-toggle-text="{{ 'done'|trans }}">{{ 'edit'|trans }}</a></h2>
    </header>
    <div class="idp-list">
    </div>
</div>
