<form class="wayf__search" method="post" action="{{ action }}">
    <input type="hidden" name="ID" value="{{ requestId }}"/>{# todo: what's this for? #}
    <input type="hidden" id="form-idp" name="idp" value=""/>{# todo: what's this for? #}
    <label for="wayf_search" class="visually-hidden">{{ 'search'|trans }}</label>
    <input
        id="wayf_search"
        name="wayf_search"
        placeholder="{{ 'wayf_search_placeholder'|trans }}"
        type="search"
    />
</form>
