<div id="unconnected-idp-picker" class="idp-picker hidden">
    <div class="selection mod-results">
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/content__header.html.twig' %}

        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig' %}
        {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noResults.html.twig' with { text: 'no_idp_results_request_access'|trans|raw } %}
    </div>
</div>
