/* stylelint-disable font-family-no-missing-generic-family-keyword */
.c-icon
  max-width: 0.75rem
  height: auto
  vertical-align: middle
  position: relative
  top: -1px
  margin-right: 0.5rem
  font-family: FontAwesome

  &.c-icon-warning,
  &.c-icon-error
    width: 19px
    max-width: 19px
    height: 19px
    display: inline-block
    border-radius: 3px
    color: white
    padding: 0px 7px

  &.c-icon-warning
    background: $yellow

  &.c-icon-error
    background: $red

  &.c-icon-checkmark
    width: 12px
    height: 9px
    color: $green

  &.c-icon-triangle
    width: 7px
    height: 11px

