.c-button
  font-size: $f-normal
  background: $blue
  padding: .5em 1rem
  border-radius: $br
  color: #fff
  text-decoration: none
  display: inline-block
  border: 1px solid transparant
  cursor: pointer

  &:hover
    background: darken($blue,10)

  &.narrow
    padding: 0.2rem 1rem

  &.outline
    border: 1px solid $border-dark
    color: $blue
    background: #fff

  &.white
    background: #fff
    color: $blue
