.c-icon
  max-width: 0.75rem
  height: auto
  vertical-align: middle
  position: relative
  top: -1px
  margin-right: 0.5rem
  .lt-ie9 &
    max-width: .75em
    margin-right: .5em

  &.c-icon-warning
    width: 12px
    height: 12px
    .lt-ie9 &
      background: red

  &.c-icon-checkmark
    width: 12px
    height: 9px
    .lt-ie9 &
      background: green
      width: 12px
      height: 12px

  &.c-icon-triangle
    width: 7px
    height: 11px
    .lt-ie9 &
      display: none
