.comp-language
  float: right
  margin: 2em
  +max-width($small)
    margin: 1em
  a, button
    color: $darkBlue
    background: white
    &:hover,
    &.selected
      background: $darkBlue
      color: #fff
