<button
    class="idp__deleteDisable"
    data-connected="{{ idp['connected'] }}"
    type="button"
>
    {% if idp['connected'] is defined and not idp['connected'] %}
        <span class="idp__disabled">
            <span class="visually-hidden">
                {{ 'wayf_no_access_account'|trans }}
            </span>
        </span>
    {% endif %}
    {% if delete %}
        <span class="idp__delete">
            <span class="visually-hidden">
                {{ 'wayf_delete_account'|trans }}
            </span>
        </span>
    {% endif %}
</button>
