<ul class="wayf__idpList{% if cutoffPointForShowingUnfilteredIdps < idpList|length %} wayf__idpList--cutoffMet{% endif %}">
    {% for idp in idpList %}
        {% if showRequestAccess or (not showRequestAccess and idp['connected'] is defined and idp['connected']) %}
            <li>
                {% include '@theme/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig' with { idp: idp }
                %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
