<button
    class="idp__submit{% if hidden is defined %} visually-hidden{% endif %}"
    data-entityid="{{ idp['entityId'] }}"
    type="submit"
>
    Login
</button> {# todo figure out if the data-entityid is still necessary? #}
