services:

    mariadb:
        image: mariadb:10.6
        container_name: eb-db-test
        environment:
            MYSQL_ROOT_PASSWORD: "root"
            MYSQL_DATABASE: "eb_test"
            MYSQL_USER: "eb_testrw"
            MYSQL_PASSWORD: "secret"
            MYSQL_INITDB_SKIP_TZINFO: 1
        volumes:
            - eb-mysql-test-data:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
            timeout: 2s
            retries: 20
            interval: 2s

    engine.dev.openconext.local:
        build:
            context: ../
            # override this in a dedicated dockerfile per php version
            # dockerfile: docker/ci/Dockerfile
        container_name: eb-phpfpm
# Local debugging
#        ports:
#            - 443:443
        volumes:
            - ../:/var/www/html
            - ../ci/qa-config/files/engine.dev.openconext.local.crt:/config/engine/engineblock.crt
            - ../ci/qa-config/files/engine.dev.openconext.local.key:/config/engine/engineblock.pem
        depends_on:
            mariadb:
                condition: service_healthy
        environment:
          APP_ENV: ci
          APP_SECRET: secret
          APP_DEBUG: false

    chrome.dev.openconext.local:
        image: alpeware/chrome-headless-trunk
        ports:
            - 9222:9222
        environment:
            - CHROME_OPTS=--ignore-certificate-errors --window-size=1920,1080 --ignore-ssl-errors
        volumes:
            - /tmp/chromedata/:/data

#   Remove commands for local X11 debugging
    cypress:
        image: "cypress/included:13.1.0"
        environment:
            - CYPRESS_baseUrl=https://engine.dev.openconext.local
#            - DISPLAY=${DISPLAY}
        working_dir: /e2e/
        entrypoint: cypress open --project .
        volumes:
#            - /tmp/.X11-unix:/tmp/.X11-unix
            - ../tests/e2e:/e2e
            - ../theme:/theme

volumes:
    eb-mysql-test-data:
