{% extends '@theme/Default/View/Error/error.html.twig' %}

{# Prepare the page title #}
{% set pageTitle = 'error_405'|trans %}

{% block languageSwitcher %}
{% endblock %}

{% block content %}
<div class="error-container">

  <main class="error-container__content">
    <div class="error-title">
      <h1 class="error-title__heading">{{ pageTitle }}</h1>
      <span class="error-title__error-message">{{ 'error_405_desc'|trans({'%requestMethod%': requestMethod, '%uri%': uri,'%allowedMethods%': allowedMethods}) }}</span>
    </div>
  </main>
    {% apply spaceless %}{% include "@theme/Default/View/Error/partial/footer.html.twig" %}{% endapply %}
</div>

{% endblock %}
