@use "../../variables";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.wayf__backLink {
    @include mixins-skeune.button-secondary(variables.$gray);
    display: block;
    margin-top: 1rem;
    width: 100%;
}
