.wayf__idpList {
    list-style: none;
    padding: 0;

    &.wayf__idpList--cutoffMet:not(.wayf__idpList--searching) {
        .wayf__idp {
            display: none;
        }
    }

    > li {
        margin-bottom: calculateRem(19px);

        > .wayf__idp {
            @include focus;
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0 1px 0 2px #5e6873;
            display: flex;
            text-decoration: none;

            &:hover {
                background-color: $idpBlue;
                cursor: pointer;

                > .idp__content {
                    > button {
                        @include button-reset($idpBlue);
                        margin: 3px 0;

                        > .idp__delete {
                            @include trashcan-hover;
                        }
                    }
                }
            }

            > .idp__logo {
                align-self: center;
                display: flex;
                height: 5.05rem;
                width: 5.67rem;
                justify-self: center;
                padding: .5rem;

                @include screen('mobile') {
                    margin: 0;
                    padding: .25rem;
                }

                > img,
                > svg {
                    height: auto;
                    margin: auto 0;
                    max-height: 100%;
                    width: 100%;
                }
            }

            > .idp__content {
                align-items: center;
                box-sizing: content-box;
                display: flex;
                width: calc(100% - 6.25rem);

                @include screen('mobile') {
                    width: calc(100% - 4.25rem);
                }

                > .idp__border {
                    border-left: 1px solid $idpSeparatorGray;
                    height: calc(100% - 1.625rem);
                }

                > h3 {
                    display: inline-block;
                    color: $black;
                    font-family: 'SourceSansPro', sans-serif;
                    font-size: $f-large;
                    font-weight: $normal;
                    margin: calculateRem(13px) 0;
                    padding: 0 0 0 calculateRem(23.5px);
                    width: calc(100% - 4rem);

                    @include screen('mobile') {
                        height: calc(100% - 1rem);
                        margin: .5rem 0;
                        padding: 0 0 0 0.5rem;
                        width: calc(100% - 1rem);
                    }
                }

                > .idp__deleteDisable {
                    @include button-reset($white);
                    align-items: center;
                    border-bottom-right-radius: 8px;
                    border-top-right-radius: 8px;
                    display: flex;
                    justify-content: center;
                    margin: 3px 0;
                    width: 4rem;

                    @include screen('mobile') {
                        width: 3rem;
                    }

                    > .idp__delete,
                    > .idp__disabled {
                        display: inline-block;
                    }

                    > .idp__delete {
                        @include trashcan;
                        background-position: center center;
                        height: 1.5rem;
                        width: calculateRem(22px);
                    }

                    > .idp__disabled {
                        @include no-talking;
                        background-position: center center;
                        height: calculateRem(30px);
                        width: calculateRem(29px);
                    }
                }

                > .idp__form {
                    .idp__submit {
                        @include button-primary($buttonBlue);
                        align-items: center;
                        border-bottom-right-radius: 8px;
                        border-top-right-radius: 8px;
                        height: calc(100% - 6px);
                        margin: 3px 0;
                        width: 6rem;

                        &:hover,
                        &focus {
                            border: 3px solid $white;
                        }

                        &.visually-hidden {
                            // if this is absent, Safari uses the height despite it being visually hidden
                            height: 0;
                            // if this is absent, Safari adds a bar next to the body after a repaint
                            width: 0;
                        }
                    }
                }
            }

            &[data-weight="0"] {
                display: none;
            }
        }

        > .wayf__idp.wayf__idp--noAccess {
            @include focus;
            background-color: $softBorderGray;
            box-shadow: 0 1px 0 2px $noAccessGray;

            > .idp__content {
                > .idp__border {
                    border-left: 1px solid $white;
                }

                > button {
                    @include button-reset($softBorderGray);
                }
            }
        }
    }
}
