@use "../../breakpoints";
@use "../../functions";
@use "../../mixins";
@use "../../variables";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.wayf__idpList {
    list-style: none;
    padding: 0;

    &.wayf__idpList--cutoffMet:not(.wayf__idpList--searching) {
        .wayf__idp {
            display: none;
        }
    }

    > li {
        margin-bottom: functions.calculateRem(19px);

        > .wayf__idp {
            @include mixins-skeune.focus;
            background-color: variables.$white;
            border-radius: 8px;
            box-shadow: 0 1px 0 2px #5e6873;
            display: flex;
            text-decoration: none;

            &:hover {
                background-color: variables.$idpBlue;
                cursor: pointer;

                > .idp__content {
                    > button {
                        @include mixins.button-reset(variables.$idpBlue);
                        margin: 3px 0;

                        > .idp__delete {
                            @include mixins-skeune.trashcan-hover;
                        }
                    }
                }
            }

            > .idp__logo {
                align-self: center;
                display: flex;
                height: 5.05rem;
                width: 5.67rem;
                justify-self: center;
                padding: .5rem;

                @include breakpoints.screen('mobile') {
                    margin: 0;
                    padding: .25rem;
                }

                > img,
                > svg {
                    height: auto;
                    margin: auto 0;
                    max-height: 100%;
                    width: 100%;
                }
            }

            > .idp__content {
                align-items: center;
                box-sizing: content-box;
                display: flex;
                width: calc(100% - 6.25rem);

                @include breakpoints.screen('mobile') {
                    width: calc(100% - 4.25rem);
                }

                > .idp__border {
                    border-left: 1px solid variables.$idpSeparatorGray;
                    height: calc(100% - 1.625rem);
                }

                > h3 {
                    display: inline-block;
                    color: variables.$black;
                    font-family: 'SourceSansPro', sans-serif;
                    font-size: variables.$f-large;
                    font-weight: variables.$normal;
                    margin: functions.calculateRem(13px) 0;
                    padding: 0 0 0 functions.calculateRem(23.5px);
                    width: calc(100% - 4rem);

                    @include breakpoints.screen('mobile') {
                        height: calc(100% - 1rem);
                        margin: .5rem 0;
                        padding: 0 0 0 0.5rem;
                        width: calc(100% - 1rem);
                    }
                }

                > .idp__deleteDisable {
                    @include mixins.button-reset(variables.$white);
                    align-items: center;
                    border-bottom-right-radius: 8px;
                    border-top-right-radius: 8px;
                    display: flex;
                    height: 4rem;
                    justify-content: center;
                    margin: 3px 0;
                    width: 4rem;

                    @include breakpoints.screen('mobile') {
                        width: 3rem;
                    }

                    > .idp__delete,
                    > .idp__disabled {
                        display: inline-block;
                    }

                    > .idp__delete {
                        @include mixins-skeune.trashcan;
                        background-position: center center;
                        height: 1.5rem;
                        width: functions.calculateRem(22px);
                    }

                    > .idp__disabled {
                        @include mixins-skeune.no-talking;
                        background-position: center center;
                        height: functions.calculateRem(30px);
                        width: functions.calculateRem(29px);
                    }
                }

                > .idp__form {
                    .idp__submit {
                        @include mixins-skeune.button-primary(variables.$buttonBlue);
                        align-items: center;
                        border-bottom-right-radius: 8px;
                        border-top-right-radius: 8px;
                        height: calc(100% - 6px);
                        margin: 3px 0;
                        width: 6rem;

                        &:hover,
                        &focus {
                            border: 3px solid variables.$white;
                        }

                        &.visually-hidden {
                            // if this is absent, Safari uses the height despite it being visually hidden
                            height: 0;
                            // if this is absent, Safari adds a bar next to the body after a repaint
                            width: 0;
                        }
                    }
                }
            }

            &[data-weight="0"] {
                display: none;
            }
        }

        > .wayf__idp.wayf__idp--noAccess {
            @include mixins-skeune.focus;
            background-color: variables.$softBorderGray;
            box-shadow: 0 1px 0 2px variables.$noAccessGray;

            &:hover {
                background-color: variables.$lightPink;

                > .idp__content {
                    > button {
                        @include mixins.button-reset(variables.$lightPink);
                    }

                    > .idp__deleteDisable {
                        > .idp__delete {
                            @include mixins-skeune.trashcan-hover-disabled;
                        }

                        > .idp__disabled {
                            @include mixins-skeune.no-talking-hover-disabled;
                        }
                    }
                }
            }

            > .idp__content {
                > .idp__border {
                    border-left: 1px solid variables.$white;
                }

                > button {
                    @include mixins.button-reset(variables.$softBorderGray);
                }
            }
        }

        &.remaining {
            > .wayf__idp {
                > .idp__content {
                    > .idp__deleteDisable {
                        display: none;
                    }
                }
            }

            &.idpItem--noAccess {
                > .wayf__idp {
                    > .idp__content {
                        > .idp__deleteDisable {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}
