@use "../../breakpoints";
@use "../../functions";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.wayf__noResults {
    @include mixins-skeune.poirot;
    background-position: left top .5rem;
    margin: functions.calculateRem(50px) 0 1rem;
    padding-left: 48px;

    @include breakpoints.screen('mobile') {
        margin: 2rem 0 .5rem;
    }

    > h3 {
        margin: 0 0 .5rem .5rem;
    }

    > p {
        &:first-of-type {
            margin-top: 0;
            margin-left: .5rem;
        }
    }
}
