@use "../../breakpoints";
@use "../../mixins";
@use "../../variables";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.wayf__remainingIdps {
    display: block;

    > .wayf__search {
        @include mixins.relative;
        margin: 2rem 0 1.25rem;

        > .search__field {
            @include mixins.webkit-input;
            border: 1px solid variables.$gray;
            border-radius: 6px;
            box-shadow: 0 1px 0 2px #5e6873;
            display: block;
            font-size: variables.$f-large;
            height: 3rem;
            line-height: 3rem;
            padding: 1rem;
            width: 100%;

            @include mixins-skeune.form-focus;

            &:hover {
                background-color: variables.$hoverBlue;
                border: solid 1px variables.$inputBorderGray;
            }

            @include breakpoints.screen('mobile') {
                padding: .5rem;
            }
        }

        .search__field:hover + .search__submit,
        .search__field:focus + .search__submit,
        .search__field:hover ~ .search__reset,
        .search__field:focus ~ .search__reset {
            @include mixins.button-reset(variables.$hoverBlue);
        }

        > .search__submit,
        > .search__reset {
            @include mixins.absolute(top 3px right 3px);
            @include mixins.button-reset(variables.$white);
            @include mixins-skeune.poirot;
            background-color: transparent;
            background-position: center center;
            background-size: 1.5rem 1.5rem;
            border-radius: 6px;
            height: calc(3rem - 6px);
            width: 3rem;

            &:hover,
            &:focus {
                @include mixins.button-reset(variables.$hoverBlue);
            }

            @include breakpoints.screen('mobile') {
                width: 2rem;
            }
        }

        > .search__reset {
            @include mixins-skeune.img-reset;
        }
    }

    > .remainingIdps__defaultIdp {
        @include mixins-skeune.informational;
        margin: 1.25rem 0 1.25rem;
        min-height: 3rem;

        > .wayf__defaultIdpLink {
            color: variables.$black;

            &:focus {
                box-shadow: 0 0 0 3px variables.$white;
            }
        }
    }

    > .wayf__rememberChoice {
        margin-bottom: 3rem;

        > label[for="rememberChoice"] {
            @include mixins.font-style-large;
            color: variables.$buttonBlue;
        }

        > #rememberChoice {
            height: 1.2rem;
            margin: 0 0 0 10px;
            vertical-align: sub;
            width: 1.2rem;
        }
    }
}
