<div {% if className is defined %}class="{{ className }}"{% endif %}>
    {% if notificationTitle is defined %}
        <h3>{{ notificationTitle }}</h3>
    {% endif %}
    {{ text|striptags('consent_warning_allowed_html'|trans)|replace({'<a ': '<a target="_blank" rel="noopener noreferrer" '})|raw }}
</div>
