table, tr, th, td {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

th {
  border-bottom: 1px solid #C1C1BD;
  border-top: 1px solid #C1C1BD;
  color: #999996;
  font-weight: normal;
  text-align: left;
}

th, td {
  padding: 5px;
  vertical-align: top;
}

td {
  border-left: 1px dotted #C1C1BD;
}

td:first-child {
  border-left: 0 none;
}

tr.odd {
  background-color: #dadada;
  border-right: 1px solid #dadada;
}