body
  font-family: $font
  color: $dark-grey
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
  font-size: $f-normal
  line-height: 20px

blockquote
  margin-bottom: 2rem
  .lt-ie9 &
    margin-bottom: 2em

a
  color: $blue

  &:hover
    text-decoration: underline

strong.service-provider, strong.identity-provider
  color: $blue

%h1
  font-size: 24px
  line-height: 40px

%h2
  font-size: 18px
  line-height: 30px

%h3
  font-size: $f-normal
  color: $medium-grey
  line-height: 25px

%h-uppercase
  font-size: 12px
  text-transform: uppercase
  font-weight: bold
  line-height: 20px

.strong
  font-weight: bold

input[type=submit],
input[type=Reset]
  -webkit-appearance: none
