<div class="slidein about">
  <div class="mod-filler"></div>
  <div class="mod-content">
    <a class="close" href="#">{{ 'slidein_close'|trans }}</a>
    <section>
        {{ 'consent_slidein_about_text'|trans({'%profileUrl%': profileUrl})|raw }}
    </section>
    <a href="{{ supportUrl }}">{{ 'slidein_read_more'|trans }}</a>
  </div>
</div>
