.feedback-info
  background: $light-grey
  margin: 0.5em
  padding: 0.5em
  width: 30%
  float: left

  &__label
    display: inline-block
    font-size: $f-small
    font-weight: bold

  &__value
    color: $blue
    font-size: $f-small
    font-weight: bold
    overflow: hidden