<section class="modal__value" role="alert">
    <div class="modal__content">
        <h3>{{ 'consent_slidein_correction_title'|trans }}</h3>
        {% if attributeSource == 'idp' %}
            <p>{{ 'consent_slidein_correction_text_idp'|trans }}</p>
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/contact-details.html.twig' %}
        {% else %}
            <p>{{ 'consent_slidein_correction_text_aa'|trans }}</p>
        {% endif %}
    </div>
</section>
