<section class="modal__value" role="alert">
    <div class="modal__content">
        <h3>{{ 'consent_slidein_reject_text_skeune_header'|trans }}</h3>
        <p>{{ 'consent_slidein_reject_text_skeune_body'|trans }}</p>
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/contact-details.html.twig' %}
    </div>
</section>
