<section class="modal__value" role="alert">
    <div class="modal__content">
        <p>
            {{ 'consent_identifier_explanation'|trans({'%suite_name%': 'suite_name'|trans }) }}
        </p>
        <a href="{{ 'name_id_support_url'|trans }}" target="_blank" rel="noreferrer noopener">{{ 'slidein_read_more'|trans }}</a>
    </div>
</section>


