/*******************************************************************
    CSS specific to the consent page
 ******************************************************************/

@import '../helpers';

.consent {
    @include border-bottom-radius(8px);
    box-shadow: 0 3px 0 2px $darkishBlueTwo;

    > .consent__content {
        background-color: $skeuneGray;
        padding: 0 2rem calculateRem(40px);

        > .consent__attributes,
        .consent__attributes--nested {
            background-color: $white;
            border: 1px solid $hardBorderGray;
            border-radius: 6px;
            box-shadow: 0 1px 0 2px $hardBorderGray;
            margin: 0 0 2rem;
            padding: 0;

            > li {
                @include display-grid;
                @include grid-template-columns(33% 1% 57% 1% 8%);
                border-bottom: 1px solid $softBorderGray;
                line-height: 1.63;
                padding: 1rem 0;

                > *:not(input[type="checkbox"]) {
                    color: $black;
                    display: inline-block;
                    line-height: 1.63;
                    text-align: left;
                }

                // todo add animation
                &.openToggle {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    padding: 0;

                    > label {
                        background-image: unset;
                        color: $buttonBlue;
                        display: flex;
                        height: unset;
                        font-weight: $bolder;
                        justify-content: center;
                        margin: 1rem 0;
                        width: unset;

                        > .showLess,
                        > .showMore {
                            padding-right: 30px;
                        }

                        > .showLess {
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='wusxz70bxa' d='M4.92 10.75c-.183 0-.367-.05-.528-.153-.416-.268-.517-.794-.225-1.176L8.319 4 4.18-1.422c-.292-.382-.19-.908.226-1.175.417-.268.99-.175 1.282.207l4.508 5.906c.221.291.221.678 0 .969L5.673 10.39c-.18.234-.464.359-.754.359'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5 8)'%3E%3Cmask id='etvz1reijb' fill='%23fff'%3E%3Cuse xlink:href='%23wusxz70bxa'/%3E%3C/mask%3E%3Cuse fill='%230077C8' transform='scale(1 -1) rotate(90 11.181 0)' xlink:href='%23wusxz70bxa'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right center;
                            display: none;
                        }

                        > .showMore {
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='24' viewBox='0 0 25 24'%3E%3Cdefs%3E%3Cpath id='t5vbpi1wma' d='M4.92 10.75c-.183 0-.367-.05-.528-.153-.416-.268-.517-.794-.225-1.176L8.319 4 4.18-1.422c-.292-.382-.19-.908.226-1.175.417-.268.99-.175 1.282.207l4.508 5.906c.221.291.221.678 0 .969L5.673 10.39c-.18.234-.464.359-.754.359'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5.5 8)'%3E%3Cmask id='jsuhne1qsb' fill='%23fff'%3E%3Cuse xlink:href='%23t5vbpi1wma'/%3E%3C/mask%3E%3Cuse fill='%230077C8' transform='rotate(90 7.181 4)' xlink:href='%23t5vbpi1wma'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right center;
                            display: block;
                        }
                    }

                    > input[type="checkbox"] {
                        display: none;
                    }

                    > input[type="checkbox"]:checked + label {
                        > .showLess {
                            display: block;
                        }

                        > .showMore {
                            display: none;
                        }
                    }

                    > input[type="checkbox"]:checked + label + .consent__attributes--nested {
                        display: block;
                        order: -1;
                    }

                    > .consent__attributes--nested {
                        border: unset;
                        box-shadow: unset;
                        display: none;
                        margin: 0;
                        width: 100%;
                    }
                }

                > .attribute__name {
                    @include grid-position(1, 2, 1, 2);
                    text-align: right;
                }

                > .attribute__value {
                    @include grid-position(1, 2, 3, 4);
                    font-weight: $bolder;
                    overflow-wrap: break-word;
                }

                > label,
                > input[type="checkbox"] {
                    @include grid-position(1, 2, 5, 6);
                }

                > .tooltip__value {
                    @include grid-position(2, 3, 1, 6);
                }

                > input:checked + label + .tooltip__value {
                    text-align: right;
                }
            }

            > li.idpRow {
                @include grid-template-columns(14% 1% 55% 1% 28% 1%);
                align-items: center;
                background-color: $providerGray;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: $f-small;
                font-weight: $bolder;
                padding: calculateRem(10px) 0;
                text-align: left;

                > img {
                    @include grid-position(1, 2, 1, 2);
                    max-height: calculateRem(30px);
                    margin-left: 9px;
                }

                > p {
                    @include grid-position(1, 2, 3, 4);
                    font-size: $f-small;
                    font-weight: $normal;
                    margin: 0;

                    > strong {
                        font-weight: $bolder;
                    }
                }

                > input[type="checkbox"],
                > label {
                    @include grid-position(1, 2, 5, 6);
                }

                > label.modal {
                    color: $oceanBlue;
                    padding: 10px 0;
                }

                > .modal__value {
                    @include grid-position(2, 3, 1, 7);
                    margin: 9px 1rem;
                    padding: 1rem;
                    width: 32rem;
                }
            }
        }

        > .consent__disclaimer {
            line-height: 1.5;
            list-style: none;
            padding: 0;
            margin: 1.5rem 0 2rem;

            li {
                > p,
                > div {
                    @include display-grid;
                    @include grid-template-columns(67px calc(100% - 67px));

                    > svg {
                        @include grid-position(1, 2, 1, 2);
                        margin-left: 14px;
                    }

                    > span,
                    > div {
                        @include grid-position(1, 2, 2, 3);
                        max-width: 30rem;

                        label,
                        a {
                            color: $oceanBlue;
                            font-weight: $bolder;
                        }

                        a {
                            text-decoration: none;
                        }

                        .modal__value {
                            margin: 1rem 0;
                            max-width: 29rem;

                            .link__readmore {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        > .ctas {
            line-height: 0.89;
            margin: 2rem 0 0;

            > a {
                @include button-primary($buttonBlue);
                margin-bottom: 1.5rem;
            }

            > label {
                @include button-tertiary($skeuneGray);
                width: 100%;

                &:focus {
                    > span.secondaryBorder {
                        display: block;
                        width: 100%;
                    }
                }
            }

            > a,
            > label {
                display: block;
            }

            > section.modal__value {
                margin-top: 1rem;
                width: 34rem;
            }
        }
    }

    > :last-child {
        @include border-bottom-radius(8px);
    }
}
