<ul class="consent__attributes">
    {% for attributeIdentifier, attributeValues in attributes %}
        {% if loop.index == 6 %}
            <li class="openToggle">
                {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/toggle.html.twig' %}
                <ul class="consent__attributes--nested">
        {% endif %}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/includeAttribute.html.twig' %}
        {% if loop.last and loop.index >= 6 %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Attributes/source.html.twig' %}
</ul>
