{% if tooltipValue %}
    <div class="attribute__tooltip">
        <button
            class="help tooltip"
            title="{{ tooltipValue }}"
        >
            {# todo adjust image #}
            <img src="" alt="" />
        </button>
    </div>
{% endif %}
