{% if tooltipValue %}
    <input type="checkbox" id="tooltip{{loop.index}}" />
    <label for="tooltip{{loop.index}}"><span  class="visually-hidden">{{ 'consent_tooltip_screenreader'|trans }}</span></label>
    <div class="tooltip__value">{{ tooltipValue }}</div>
{% endif %}
