{% if tooltipValue %}
    {% include '@theme/Default/Partials/LoginBar.html.twig' with
        {
            class: 'tooltip',
            id: 'tooltip{{loop.index}}',
            text: {{ 'consent_tooltip_screenreader'|trans }}
        }
    %}
    <div class="tooltip__value" role="alert">{{ tooltipValue }}</div>
{% endif %}
