<section class="modal__value">
    <div class="modal__content">
        {{ 'consent_slidein_reject_text_skeune'|trans|raw }}
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/contact-details.html.twig' %}
    </div>
</section>
