.comp-links
  //display: flex
  justify-content: center
  flex-wrap: nowrap

  .help
    background: #4DB3CF
    color: #FFFFFF
    border-radius: 50%
    box-sizing: border-box
    font-weight: bold
    height: 1.5rem
    width: 1.5rem
    line-height: 1.5rem
    display: inline-block
    text-align: center
    margin-left: 0.5rem
    .lt-ie9 &
      height: 1.5em
      width: 1.5em
      line-height: 1.5em
      margin-left: 0.5em

  li
    margin-left: 1.5rem
    .lt-ie9 &
      margin-left: 1.5em

    display: inline

    &:first-child
      margin-left: 0
