<div class="ctas">
    {# todo: link to where? #}
    {% include '@theme/Default/Partials/buttonLink.html.twig' with
        {
          buttonUrl: '#',
          text: 'consent_ok'|trans
        }
    %}
    <input type="checkbox" tabindex="-1" role="button" aria-pressed="false" class="modal visually-hidden" id="cta_consent_nok" name="cta_consent_nok" />
    {% include '@theme/Default/Partials/label.html.twig' with
        {
            class: 'modal',
            id: 'cta_consent_nok',
            hideText: false,
            text: 'consent_buttons_nok'|trans
        }
    %}
    {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/reject.html.twig' %}
</div>
