<section class="consent__nok hidden" data-for="cta_consent_nok">
    <h2 tabindex="-1" class="consent__nok-title">{{ 'consent_nok_title'|trans }}</h2>
    <div class="consent__nok-body">
        <p>{{ 'consent_nok_text'|trans }}</p>
        {% include '@theme/Authentication/View/Proxy/Partials/Consent/Modals/contact-details.html.twig' %}

        <button class="consent__nok-back" type="button">{{ 'back'|trans }}</button>
    </div>
</section>
