.error-container
  margin: 0 auto
  position: relative
  top: 8em
  width: 720px
  +max-width($small)
    top: 2.75em
    width: 100%
    margin-bottom: 3em

  &__content
    padding: 2em
    background: white
    border-radius: 5px 5px 0 0
