.error-title
  text-align: center
  width: 100%
  &__heading
    color: $blue
    font-size: $f-xl
    font-weight: bold
    line-height: $f-xl + 5
    padding: 0.5em 0 0.75em
  &__error-message
    color: $dark-grey
    font-size: $f-large
    font-weight: bold
    line-height: 1.5em
    text-align: justify
    h2
      line-height: 3em
    i
      font-style: italic
    ul
      list-style: disc
      margin: 0.5em 0 0.5em 1.5em
