/* stylelint-disable font-family-no-missing-generic-family-keyword */
.error-page-footer-buttons
  &__container
    border-radius: 0 0 5px 5px
    background: $blue
    text-align: center
    width: 100%
    overflow: hidden

  &__row
    margin: 0 auto
    text-align: center
    width: 101%

.footer-button
  width: 33.33%
  display: inline-block
  border-right: 1px solid white
  text-align: center

  &:first-child
    margin-left: -2px
    border-left: 1px solid white

  &:hover
    background: $dark-blue

  &__link
    color: white
    text-decoration: none
    width: 100%
    display: inline-block
    padding: 1.5em 2em

    &:hover
      text-decoration: none

  &__text
    margin-top: 0.5em
    +max-width($small)
      display: none
      font-weight: bold
    &--small
      display: none
      +max-width($small)
        display: block

  &__icon
    font-family: FontAwesome
    text-align: center
    font-size: $f-large
    font-weight: bold

    &.fa-wikipedia-w
      background: white
      border-radius: 19px
      color: $blue
      display: inline-block
      font-size: 12px
      height: 19px
      width: 19px
