ul.nav {
  float: right;
  list-style: none;
  text-transform: uppercase;
}

ul.nav li {
  float: left;
  list-style: none;
  font-weight: bold;
  background: url(../../media/divider.gif) no-repeat left 3px;
  margin-left: 5px;
  padding-left: 6px;
}

ul.nav li a {
  color: #fff;
  padding-bottom: 6px;
}

ul.nav li.active a {
  color: #1166a4;
  background: url(../../media/menu_active.gif) no-repeat center bottom;
}

ul.nav li:first-child {
  background: none;
}

ul.nav li.first {
  background: none;
}

ul.nav li.first.active a {
  background-image: none;
}