{
  "extends": "stylelint-config-recommended",
  "rules": {
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "darken",
          "lighten",
          "mix"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "each",
          "else",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return"
        ]
      }
    ],
    "no-descending-specificity": null,
    "no-empty-source": null
  },
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss"
    },
      {
      "files": ["*.sass", "**/*.sass"],
      "customSyntax": "postcss-sass"
    }
  ]
}
