{% macro form(currentLanguage, postData) %}
    {% if postData is not empty %}
    <form method="post" action="">
        {% for name, value in postData %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}
        <ul class="comp-language">
            <li>
                <button type="submit" name="lang" value="en" {% if currentLanguage == 'en' %} class="selected" {% endif %}>EN</button>
            </li>
            <li>
                <button type="submit" name="lang" value="nl" {% if currentLanguage == 'nl' %} class="selected" {% endif %}>NL</button>
            </li>
        </ul>
    </form>
    {% else %}
        <ul class="comp-language">
            <li>
                <a{% if currentLanguage == 'en' %} class="selected"{% endif %} href="{{ queryStringFor('en') }}">EN</a>
            </li>
            <li>
                <a{% if currentLanguage == 'nl' %} class="selected"{% endif %} href="{{ queryStringFor('nl') }}">NL</a>
            </li>
        </ul>
    {% endif %}
{% endmacro form %}