.l-container .mod-results

  &.hidden
    display: none

  .hidden
    display: none

  .active
    display: auto

.mod-tabpanel
  display: none

  &.active
    display: block

.rotate-img
  animation: spin 1s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
