.comp-table
  width: 100%
  margin-bottom: 2rem
  border-radius: 4px
  border: 1px solid $border

  th, td
    padding: .75rem 1rem
    border-bottom: 1px solid $border
    white-space: nowrap

  thead
    th, td
      border-bottom: 1px solid $border
      @extend %h3

  @for $i from 1 through 20
    .percent_#{$i * 5}
      width: #{$i * 5%}

.comp-small-table
  font-size: $f-small
  border-top: 1px solid $border

  tr:last-child
    th, td
      border-bottom: 0
  th, td
    padding: .5rem 1.5rem .5rem 0


