html
  height: 100%
body
  height: 100%
  $list: $blue 0%, $light-blue 100%
  background: $medium-blue
  @include gradient(to bottom, $list)
  +max-width($small)
    background: $light-grey

.l-container
  +max-width($small)
    padding: 1em

*, *:before, *:after
  box-sizing: border-box
