/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.l-container,
.box {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 8, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.z2 {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
}

/* line 12, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.padding {
  padding: 2rem;
}

/* line 16, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.v-center {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 22, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.v-center .inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 26, ../../../theme/material/stylesheets/utilities/_placeholders.css.sass */
.h-center {
  margin-left: auto;
  margin-right: auto;
}

/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
body {
  line-height: 1;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
nav ul {
  list-style: none;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
del {
  text-decoration: line-through;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 2, ../../../theme/material/stylesheets/utilities/_reset.css.scss */
input, select {
  vertical-align: middle;
}

/* line 1, ../../../theme/material/stylesheets/base/_page.css.sass */
body {
  background: #f2f2f2;
}

/* line 4, ../../../theme/material/stylesheets/base/_page.css.sass */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 1, ../../../theme/material/stylesheets/base/_layout.css.sass */
.l-container {
  max-width: 50rem;
  margin: 1rem;
}
@media (min-width: 800px) {
  /* line 1, ../../../theme/material/stylesheets/base/_layout.css.sass */
  .l-container {
    margin: 0 auto 3rem;
  }
}

/* line 1, ../../../theme/material/stylesheets/base/_type.css.sass */
body {
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  color: #2b3f44;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 20px;
}

/* line 9, ../../../theme/material/stylesheets/base/_type.css.sass */
blockquote {
  margin-bottom: 2rem;
}

/* line 12, ../../../theme/material/stylesheets/base/_type.css.sass */
a {
  color: #4DB3CF;
}
/* line 15, ../../../theme/material/stylesheets/base/_type.css.sass */
a:hover {
  text-decoration: underline;
}

/* line 18, ../../../theme/material/stylesheets/base/_type.css.sass */
.mod-content h1 {
  font-size: 30px;
  line-height: 40px;
}

/* line 22, ../../../theme/material/stylesheets/base/_type.css.sass */
.mod-search h1, .mod-content h2, .mod-header .title {
  font-size: 20px;
  line-height: 30px;
}

/* line 26, ../../../theme/material/stylesheets/base/_type.css.sass */
.mod-content h3, .mod-content table thead th, .mod-content table thead td {
  font-size: 16px;
  line-height: 25px;
}

/* line 1, ../../../theme/material/stylesheets/components/_button.css.sass */
.c-button {
  background: #4DB3CF;
  padding: 0.5em 1rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparant;
  cursor: pointer;
}
/* line 11, ../../../theme/material/stylesheets/components/_button.css.sass */
.c-button:hover {
  background: #319bb8;
}
/* line 14, ../../../theme/material/stylesheets/components/_button.css.sass */
.c-button.narrow {
  padding: 2px 7px;
}
/* line 17, ../../../theme/material/stylesheets/components/_button.css.sass */
.c-button.outline {
  border: 1px solid #e6e6e6;
  background: #fff;
  color: #4DB3CF;
  text-decoration: none;
}

/* line 3, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search h1 {
  margin-bottom: 15px;
}
/* line 7, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 12, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search button {
  display: none;
}
/* line 15, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search input {
  display: block;
  border: 0;
  border-radius: 4px;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.75rem;
  line-height: 40px;
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
  background: #fff url('/material/images/icons/magnifying-glass-1.svg?1429867929') no-repeat 1.25rem center;
  background-size: 1rem auto;
}
/* line 27, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search input:focus {
  outline: none;
}
/* line 30, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search input:focus + .results {
  display: block;
}
/* line 33, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search a {
  display: flex;
  padding: 1rem;
  align-items: center;
  text-decoration: none;
}
/* line 40, ../../../theme/material/stylesheets/utilities/_mixins.css.sass */
.mod-search a:active, .mod-search a:hover, .mod-search a:focus {
  outline: none;
  background: #eef8fa;
}
/* line 45, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search a:focus .c-button {
  display: inline-block;
}
/* line 48, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search a img {
  max-width: 2rem;
  margin-right: 1rem;
}
/* line 52, ../../../theme/material/stylesheets/modules/_app-search.css.sass */
.mod-search a .c-button {
  margin-left: auto;
  display: none;
}

/* line 1, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content {
  padding: 2rem;
}
/* line 4, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content h1, .mod-content h2, .mod-content h3 {
  margin-bottom: 0.5rem;
}
/* line 16, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content ul, .mod-content ol, .mod-content p {
  margin-bottom: 1rem;
}
/* line 19, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content table {
  width: 100%;
  margin-bottom: 1rem;
}
/* line 23, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content table th, .mod-content table td {
  padding: 0.75rem 0;
  border-bottom: 1px solid #e6e6e6;
}
/* line 28, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content table thead th, .mod-content table thead td {
  border-bottom: 2px solid #e6e6e6;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_5 {
  width: 5%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_10 {
  width: 10%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_15 {
  width: 15%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_20 {
  width: 20%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_25 {
  width: 25%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_30 {
  width: 30%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_35 {
  width: 35%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_40 {
  width: 40%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_45 {
  width: 45%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_50 {
  width: 50%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_55 {
  width: 55%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_60 {
  width: 60%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_65 {
  width: 65%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_70 {
  width: 70%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_75 {
  width: 75%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_80 {
  width: 80%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_85 {
  width: 85%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_90 {
  width: 90%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_95 {
  width: 95%;
}
/* line 33, ../../../theme/material/stylesheets/modules/_content.css.sass */
.mod-content .percent_100 {
  width: 100%;
}

/* line 1, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header {
  *zoom: 1;
  padding: 1rem;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #4DB3CF;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.mod-header:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 800px) {
  /* line 1, ../../../theme/material/stylesheets/modules/_header.css.sass */
  .mod-header {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}
/* line 13, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .title {
  color: #a2a2a2;
}
/* line 17, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .title strong {
  color: #4DB3CF;
}
@media (max-width: 800px) {
  /* line 13, ../../../theme/material/stylesheets/modules/_header.css.sass */
  .mod-header .title {
    margin-bottom: 1rem;
  }
}
@media (min-width: 800px) {
  /* line 13, ../../../theme/material/stylesheets/modules/_header.css.sass */
  .mod-header .title {
    float: left;
  }
}
@media (min-width: 800px) {
  /* line 28, ../../../theme/material/stylesheets/modules/_header.css.sass */
  .mod-header .meta {
    float: right;
  }
}
/* line 32, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header a {
  text-decoration: none;
}
/* line 35, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header a:hover {
  text-decoration: underline;
}
/* line 38, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language,
.mod-header .links {
  float: left;
  line-height: 30px;
}
/* line 43, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language li,
.mod-header .links li {
  float: left;
  list-style: none;
}
/* line 47, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language a,
.mod-header .links a {
  display: block;
  padding: 0 14px;
  border-right: 1px solid #f2f2f2;
}
/* line 52, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language li:last-child a,
.mod-header .links li:last-child a {
  border: 0;
}
/* line 56, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language {
  overflow: hidden;
  border-radius: 4px;
  margin-right: 2rem;
}
/* line 61, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language a {
  background: #f2f2f2;
  border-color: #fff;
}
/* line 65, ../../../theme/material/stylesheets/modules/_header.css.sass */
.mod-header .language a:hover, .mod-header .language a.selected {
  background: #4DB3CF;
  color: #fff;
}

/* line 1, ../../../theme/material/stylesheets/modules/_results.css.sass */
.mod-results {
  overflow: hidden;
}
/* line 4, ../../../theme/material/stylesheets/modules/_results.css.sass */
.mod-results a {
  display: flex;
  padding: 20px;
  align-items: center;
  text-decoration: none;
}
/* line 10, ../../../theme/material/stylesheets/modules/_results.css.sass */
.mod-results a:hover {
  background: #eef8fa;
}
/* line 13, ../../../theme/material/stylesheets/modules/_results.css.sass */
.mod-results a img {
  max-height: 30px;
  margin-right: 20px;
}
/* line 17, ../../../theme/material/stylesheets/modules/_results.css.sass */
.mod-results a .c-button {
  margin-left: auto;
  display: none;
}

/* line 2, ../../../theme/material/stylesheets/modules/_tabs.css.sass */
.mod-tabs ul {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 1rem;
}
/* line 7, ../../../theme/material/stylesheets/modules/_tabs.css.sass */
.mod-tabs li {
  margin: 0 1rem;
}
/* line 10, ../../../theme/material/stylesheets/modules/_tabs.css.sass */
.mod-tabs a {
  padding: 1rem 0;
  display: block;
}
/* line 14, ../../../theme/material/stylesheets/modules/_tabs.css.sass */
.mod-tabs a:hover {
  border-bottom: 1px solid #4DB3CF;
  margin-bottom: -1px;
}
