/*******************************************************************
    CSS specific to the consent page
 ******************************************************************/

@import '../helpers';
@import './consent/attributes';
@import './consent/body';
@import './consent/ctas';
@import './consent/disclaimer';
@import './consent/idpRow';
@import './consent/nok';
@import './consent/openToggle';

.consent {
    margin-bottom: 5rem;

    @include screen('mobile') {
        margin-bottom: 3rem;
    }

    h2 {
        margin: 1.5rem 2rem calculateRem(34px);

        @include screen('mobile') {
            margin: 1.5rem 1rem calculateRem(17px);
        }

        @include screen('smallMobile') {
            margin: .75rem .5rem calculateRem(17px);
        }
    }

    > :last-child {
        @include border-bottom-radius(8px);
    }
}
