/*******************************************************************
    CSS specific to the consent page
 ******************************************************************/

@import '../helpers';

.consent {
    > noscript {
        > .consent__noScript {
            @include warning;
            margin: 1rem 2rem;

            @include screen('mobile') {
                margin: 1rem 1rem;
            }

            @include screen('smallMobile') {
                margin: 1rem .5rem;
            }

            p {
                margin: 0;
            }
        }
    }

    > * > h2 {
        color: $green;
        font-size: $f-h2;
        font-weight: $bolder;
        line-height: 1.15;
        margin: 1.5rem 2rem calculateRem(34px);

        @include screen('mobile') {
            margin: 1.5rem 1rem calculateRem(17px);
        }

        @include screen('smallMobile') {
            margin: .75rem .5rem calculateRem(17px);
        }
    }

    > .consent__content {
        .consent__content-body {
            background-color: $gray;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0 2rem 2.5rem;

            @include screen('mobile') {
                padding: 0 1rem 1.25rem;
            }

            @include screen('smallMobile') {
                padding: 0 .5rem 1.25rem;
            }

            > .consent__attributes,
            .consent__attributes--nested {
                background-color: $white;
                border: 1px solid $hardBorderGray;
                border-radius: 6px;
                box-shadow: 0 1px 0 2px $hardBorderGray;
                margin: 0 0 2rem;
                padding: 0;

                > li {
                    @include display-grid;
                    @include grid-template-columns(33% 1% 57% 1% 8%);
                    border-bottom: 1px solid $softBorderGray;
                    line-height: 1.63;

                    > * {
                        padding: 1rem 0;

                    }

                    @include screen('mobile') {
                        padding: 10px;
                        @include grid-template-columns(100%);
                        @include grid-template-rows(min-content min-content);

                        > * {
                            padding: 0;
                        }
                    }

                    > *:not(input[type="checkbox"]):not(.attribute__name) {
                        color: $black;
                        line-height: 1.63;
                        text-align: left;
                    }

                    &.openToggle {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        padding: 0;

                        > label {
                            background-image: unset;
                            color: $buttonBlue;
                            cursor: pointer;
                            display: flex;
                            height: unset;
                            font-weight: $bolder;
                            justify-content: center;
                            width: unset;

                            > .showLess,
                            > .showMore {
                                padding-right: 30px;
                            }

                            > .showLess {
                                @include openModal;
                                display: none;
                            }

                            > .showMore {
                                @include closeToggle;
                                display: block;
                            }
                        }

                        > input[type="checkbox"] {
                            display: none;
                        }

                        > input[type="checkbox"]:checked + label {
                            > .showLess {
                                display: block;
                            }

                            > .showMore {
                                display: none;
                            }
                        }

                        > input[type="checkbox"]:checked + label + .consent__attributes--nested {
                            display: block;
                        }

                        > input[type="checkbox"]:checked + label + .consent__attributes--nested.animated {
                            @include transition-display;
                            max-height: 200vh;
                            //transition: max-height .6s ease-in;
                        }

                        > .consent__attributes--nested {
                            border: 0;
                            border-radius: 0;
                            box-shadow: none;
                            display: none;
                            margin: 0;
                            order: -1;
                            padding: 0;
                            width: 100%;
                        }

                        > .consent__attributes--nested.animated {
                            display: block;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height .6s ease-in;
                        }
                    }

                    > input[type="checkbox"]:checked.tooltip ~ .attribute__name > label.tooltip {
                        @include tooltip-checked;
                        background-position: left 8px bottom;
                    }

                    > .attribute__name {
                        @include grid-position(1, 2, 1, 2);
                        margin-right: 0.5rem;
                        text-align: right;

                        @include screen('mobile') {
                            display: inline-block;
                            text-align: left;
                            margin-right: 0;
                        }

                        > label.tooltip {
                            display: none;

                            @include screen('mobile') {
                                background-position: left 8px bottom;
                                display: inline-block;
                                margin: 0 0 -2px 5px;
                                padding: 1rem 20px;
                            }
                        }
                    }

                    > .attribute__value {
                        @include grid-position(1, 2, 3, 4);
                        font-weight: $bolder;
                        overflow-wrap: break-word;

                        @include screen('mobile') {
                            @include grid-position(2, 3, 1, 2);
                        }
                    }

                    > label,
                    > .attribute__name > .label.tooltip {
                        @include grid-position(1, 2, 5, 6);

                        @include screen('mobile') {
                            display: none;
                        }
                    }

                    > label {
                        margin: auto 0;
                        padding: 1rem 20px;

                        @include screen('mobile') {
                            display: none;
                        }
                    }

                    > .tooltip__value {
                        @include grid-position(2, 3, 1, 6);
                        padding: 0;

                        @include screen('mobile') {
                            @include grid-position(3, 4, 1, 2);
                        }
                    }
                }

                > li.idpRow {
                    @include grid-template-columns(10% 1% 50% 1% 37% 1%);
                    align-items: center;
                    background-color: $providerGray;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    font-size: $f-small;
                    font-weight: $bolder;
                    text-align: left;

                    @include screen('mobile') {
                        @include grid-template-columns(10% 6% 83% 1%);
                    }

                    > img {
                        @include grid-position(1, 2, 1, 2);
                        max-height: calculateRem(30px);
                        margin-left: 9px;
                    }

                    > p {
                        @include grid-position(1, 2, 3, 4);
                        font-size: $f-small;
                        font-weight: $normal;
                        margin: 0;
                        text-align: left;

                        @include screen('mobile') {
                            margin: 0 0 0 10px;
                        }

                        > strong {
                            font-weight: $bolder;
                        }
                    }

                    > input[type="checkbox"],
                    > .ie11__label,
                    > .ie11__link {
                        @include grid-position(1, 2, 5, 6);

                        @include screen('mobile') {
                            @include grid-position(2, 3, 3, 5);
                        }
                    }

                    > .ie11__label,
                    > .ie11__link {
                        text-align: right;

                        @include screen('mobile') {
                            margin: 0 0 0 10px;
                            text-align: inherit;
                        }

                        > label.modal {
                            color: $oceanBlue;
                            padding: 10px 25px 10px 5px;

                            @include screen('mobile') {
                                display: block;
                                background-position: right 18px center;
                                padding-right: 40px;
                            }
                        }

                        > a.idpRow__supportUrl {
                            color: $oceanBlue;
                            padding: 10px 25px 10px 0;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    > .modal__value {
                        @include start-display-animated;
                        @include grid-position(2, 3, 1, 7);
                        //max-width: calc(100% - 4rem);

                        @include screen('mobile') {
                            @include grid-position(3, 4, 1, 5);
                            //max-width: calc(100% - 1rem);
                        }
                    }

                    > input:checked + .ie11__label + .modal__value {
                        display: flex;
                        justify-content: center;
                        margin: 9px auto 1rem;

                        @include screen('mobile') {
                            margin: 9px .5rem;
                        }
                    }

                    > input:checked + .ie11__label + .modal__value.animated {
                        max-height: 50vh;
                    }
                }

                _:-ms-fullscreen, > li.idpRow {
                    @include grid-template-columns(85.68px 6.12px 336.6px 6.12px 171.36px 6.12px);
                }
            }

            > .consent__disclaimer {
                line-height: 1.5;
                list-style: none;
                padding: 0;
                margin: 1.5rem 0 2rem;

                li {
                    &.disclaimer__privacy {
                        margin-bottom: 1rem;
                    }

                    &.disclaimer__secure,
                    &.disclaimer__privacy {
                        svg {
                            margin-left: -0.5rem;
                        }

                    }

                    > div {
                        @include display-grid;
                        @include grid-template-columns(67px calc(100% - 67px));

                        > svg {
                            @include grid-position(1, 2, 1, 2);
                            margin-left: 14px;
                        }

                        > p,
                        > div {
                            @include grid-position(1, 2, 2, 3);
                            margin: 0;

                            > br {
                                @include screen('mobile') {
                                    display: none;
                                }
                            }

                            > label {
                                &:focus {
                                    box-shadow: none;
                                    outline: 3px solid $lightBlue;
                                }
                            }

                            label,
                            a {
                                color: $oceanBlue;
                                font-weight: $bolder;
                            }

                            a {
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            > .modal__value {
                                margin: 1rem 0;

                                &.animated {
                                    margin: 0;
                                }

                                @include screen('mobile') {
                                    margin: 1rem 0 1rem -4rem;
                                }

                                .link__readmore {
                                    display: inline-block;
                                    padding: 5px;
                                }
                            }

                            > input:checked + label + .modal__value.animated,
                            > input:checked + br + label + .modal__value.animated {
                                margin: 1rem 0;
                            }

                            > #consent_disclaimer_about + br + label + section.animated,
                            > #consent_disclaimer_about + label + section.animated {
                                display: inline-block;
                                max-width: 0;
                            }

                            > #consent_disclaimer_about:checked + label + section.animated,
                            > #consent_disclaimer_about:checked + br + label + section.animated {
                                display: block;
                                max-height: 40vh;
                                max-width: unset;
                            }
                        }
                    }

                    _:-ms-fullscreen,
                    > div {
                        @include grid-template-columns(67px 545px);
                    }
                }
            }

            > .ctas {
                line-height: 0.89;
                margin: 2rem 0 0;

                > form {
                    .cta_consent_ok {
                        @include button-primary($buttonBlue);
                        margin-bottom: 1.5rem;
                        width: 100%;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                > .button--tertiary {
                    > div {
                        @include button-tertiary($gray);
                    }
                }

                > #cta_consent_nok:checked + .button--tertiary label {
                    @include closeModal;
                }

                #cta_consent_nok:checked + .button--tertiary + .modal__value.animated {
                    margin: 1rem auto 0;
                }

                > section.modal__value {
                    margin: 1rem auto 0;

                    &.animated {
                        margin: 0;
                    }

                    @include screen('mobile') {
                        width: 100%;
                    }
                }
            }

            > .notification__warning {
                @include warning;
            }
        }
    }

    > :last-child {
        @include border-bottom-radius(8px);
    }
}
