@use '../variables';

body {
    margin: 0;
}

.comp-language.error {
    list-style: none;

    > li {
        display: inline-block;

        &:first-child {
            a {
                border-radius: 4px 0 0 4px;
            }
        }

        &:last-child {
            a {
                border-radius: 0 4px 4px 0;
            }
        }

        > a {
            cursor: pointer;
            display: block;
            font-size: .8rem;
            line-height: 1.75rem;
            margin-right: 1px;
            padding: 0 .5rem;
            text-decoration: none;
        }
    }
}

.error-message--no-bold {
    font-weight: normal;

    .error-title__error-message--institution {
        font-weight: variables.$boldest;
    }
}
