/*******************************************************************
    CSS specific to the form page (auto submitted page that sends
    SAML response to SP)
 ******************************************************************/
.redirect {
    height: 100%;
    width: 100%;
}

.form {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.redirect__content {
    color: $white;
    margin: auto auto;
    padding: 0 2rem 2.5rem;
    text-align: center;

    @include screen('mobile') {
        padding: 0 1rem 1.25rem;
    }
}

.redirect__title {
    font-size: $f-h5;
}

.redirect__spinner {
    margin: 1.5rem auto;
}

.redirect__noJsSubmit {
    @include button-primary($buttonBlue);
    padding: 1rem;
    width: 100%;

    &:hover {
        box-shadow: 0 0 0 3px $lightBlue;
        text-decoration: underline;
    }
}
