@use "../breakpoints";

/*******************************************************************
    CSS specific to the logout page
 ******************************************************************/
.logout {
    .page__header {
        margin: 3rem auto 0 ;

        @include breakpoints.screen('mobile') {
            margin: 0;
        }
    }

    .page__title {
        @include breakpoints.screen('mobile') {
            padding-top: 3rem;
        }
    }
}
