/*******************************************************************
    CSS specific to the WAYF page
 ******************************************************************/

@import '../helpers';

.wayf {
    > noscript {
        > .wayf__noScript {
            margin: 1rem 2rem;
            @include warning;

            @include screen('mobile') {
                margin: 1rem 1rem;
            }

            @include screen('smallMobile') {
                margin: 1rem .5rem;
            }

            p {
                margin: 0;
            }
        }
    }

    > .wayf__content {
        background-color: $gray;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0 2rem 2.5rem;

        @include screen('mobile') {
            padding: 0 1rem 1rem;
        }

        @include screen('smallMobile') {
            padding: 0 .5rem .5rem;
        }

        .wayf__idpList {
            list-style: none;
            padding: 0;

            &.wayf__idpList--cutoffMet:not(.wayf__idpList--searching) {
                .wayf__idp {
                    display: none;
                }
            }

            > li {
                margin-bottom: calculateRem(19px);

                > .wayf__idp {
                    @include focus;
                    background-color: $white;
                    border-radius: 8px;
                    box-shadow: 0 1px 0 2px #5e6873;
                    display: flex;
                    text-decoration: none;

                    &:hover {
                        background-color: $idpBlue;
                        cursor: pointer;

                        > .idp__content {
                            > button {
                                @include button-reset($idpBlue);
                                margin: 3px 0;

                                > .idp__delete {
                                    @include trashcan-hover;
                                }
                            }
                        }
                    }

                    > .idp__logo {
                        align-self: center;
                        display: flex;
                        height: 5.05rem;
                        width: 5.67rem;
                        justify-self: center;
                        padding: .5rem;

                        @include screen('mobile') {
                            margin: 0;
                            padding: .25rem;
                        }

                        > img,
                        > svg {
                            height: auto;
                            margin: auto 0;
                            width: 100%;
                        }
                    }

                    > .idp__content {
                        align-items: center;
                        box-sizing: content-box;
                        display: flex;
                        width: calc(100% - 6.25rem);

                        @include screen('mobile') {
                            width: calc(100% - 4.25rem);
                        }

                        > .idp__border {
                            border-left: 1px solid $idpSeparatorGray;
                            height: calc(100% - 1.625rem);
                        }

                        > h3 {
                            display: inline-block;
                            color: $black;
                            font-family: 'SourceSansPro', sans-serif;
                            font-size: $f-large;
                            font-weight: $normal;
                            margin: calculateRem(13px) 0;
                            padding: 0 0 0 calculateRem(23.5px);
                            width: calc(100% - 4rem);

                            @include screen('mobile') {
                                height: calc(100% - 1rem);
                                margin: .5rem 0;
                                padding: 0 0 0 0.5rem;
                                width: calc(100% - 1rem);
                            }
                        }

                        > .idp__deleteDisable {
                            @include button-reset($white);
                            align-items: center;
                            border-bottom-right-radius: 8px;
                            border-top-right-radius: 8px;
                            display: flex;
                            justify-content: center;
                            margin: 3px 0;
                            width: 4rem;

                            @include screen('mobile') {
                                width: 3rem;
                            }

                            > .idp__delete,
                            > .idp__disabled {
                                display: inline-block;
                            }

                            > .idp__delete {
                                @include trashcan;
                                background-position: center center;
                                height: 1.5rem;
                                width: calculateRem(22px);
                            }

                            > .idp__disabled {
                                @include no-talking;
                                background-position: center center;
                                height: calculateRem(30px);
                                width: calculateRem(29px);
                            }
                        }

                        > .idp__form {
                            .idp__submit {
                                @include button-primary($buttonBlue);
                                align-items: center;
                                border-bottom-right-radius: 8px;
                                border-top-right-radius: 8px;
                                height: calc(100% - 6px);
                                margin: 3px 0;
                                width: 6rem;

                                &:hover,
                                &focus {
                                    border: 3px solid $white;
                                }
                            }
                        }
                    }

                    &[data-weight="0"] {
                        display: none;
                    }
                }

                > .wayf__idp.wayf__idp--noAccess {
                    @include focus;
                    background-color: $softBorderGray;
                    box-shadow: 0 1px 0 2px $noAccessGray;

                    > .idp__content {
                        > .idp__border {
                            border-left: 1px solid $white;
                        }

                        > button {
                            @include button-reset($softBorderGray);
                        }
                    }
                }
            }
        }

        > .notification__success {
            @include success;
        }

        >.wayf__previousSelection {
            @include display-grid;
            @include grid-template-columns(calc(100% - 7rem) 7rem);
            @include grid-template-rows(min-content min-content min-content);
            @include motion {
                max-height: fit-content;
                overflow: unset;
                transition: max-height 2s linear;
            }

            &.hidden {
                @include motion {
                    display: block !important;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 2s linear;
                }
            }

            > .previousSelection__title {
                @include h2;
                @include grid-position(1, 2, 1, 2);
                margin: 1.5rem 0 calculateRem(34px);
            }

            > .previousSelection__toggle {
                @include grid-position(1, 2, 2, 3);
            }

            > .ie11__label {
                @include grid-position(1, 2, 2, 3);
                margin: auto 0 calculateRem(34px) calculateRem(5px);
                text-align: right;

                > label[for="previousSelectionToggle"] {
                    color: $buttonBlue;
                    cursor: pointer;
                    font-size: $f-large;
                    font-weight: $bolder;
                    line-height: 1.5;
                    padding: 5px;

                    &:focus,
                    &:hover {
                        color: $darkishBlue;

                        > span {
                            text-decoration: underline;
                        }
                    }
                }
            }

            // todo remove as soon as ie11 support is dropped
            _:-ms-fullscreen, > .ie11__label {
                margin-top: 1.75rem;
            }

            > .previousSelection__toggle + .ie11__label > label {
                .previousSelection__edit {
                    display: inline-block;
                }

                .previousSelection__done {
                    display: none;
                }
            }

            > .previousSelection__toggle ~ .wayf__idpList {
                > li {
                    > .wayf__idp {
                        > .idp__content {
                            .idp__delete {
                                display: none;
                            }

                            .idp__disabled {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            > .previousSelection__toggle:checked + .ie11__label > label {
                .previousSelection__edit {
                    display: none;
                }

                .previousSelection__done {
                    display: inline-block;
                }
            }

            > .previousSelection__toggle:checked ~ .wayf__idpList {
                > li {
                    > .wayf__idp {
                        > .idp__content {
                            .idp__delete {
                                display: inline-block;
                            }

                            .idp__disabled {
                                display: none;
                            }
                        }
                    }
                }
            }

            > .wayf__idpList {
                @include grid-position(2, 3, 1, 3);
                margin-top: 0;
            }

            > .previousSelection__addAccount {
                @include button-secondary($gray);
                @include grid-position(3, 4, 1, 3);
                display: block;
                font-size: $f-large;
                line-height: 1rem;
                width: 100%;

                > span {
                    @include add-account;
                    background-position: left center;
                    background-repeat: no-repeat;
                    padding-left: calculateRem(34px);
                }

                &:hover {
                    > span {
                        @include add-account-hover;
                    }
                }
            }
        }

        > .wayf__remainingIdps {
            @include motion {
                max-height: fit-content;
                overflow: unset;
                transition: max-height 2s linear;
            }

            &.hidden {
                @include motion {
                    display: block !important;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 2s linear;
                }
            }

            > .remainingIdps__title {
                @include h2;
            }

            > .wayf__search {
                @include relative;
                margin: 2rem 0 1.25rem;

                > .search__field {
                    @include webkit-input;
                    border: 1px solid $gray;
                    border-radius: 6px;
                    box-shadow: 0 1px 0 2px #5e6873;
                    display: block;
                    font-size: $f-large;
                    height: 3rem;
                    line-height: 1.5;
                    padding: 1rem;
                    width: 100%;

                    @include form-focus;

                    &:hover {
                        background-color: $hoverBlue;
                        border: solid 1px $inputBorderGray;
                    }

                    @include screen('mobile') {
                        padding: .5rem;
                    }
                }

                .search__field:hover + .search__submit,
                .search__field:focus + .search__submit,
                .search__field:hover ~ .search__reset,
                .search__field:focus ~ .search__reset {
                    @include button-reset($hoverBlue);
                }

                > .search__submit,
                > .search__reset {
                    @include absolute(top 3px right 3px);
                    @include button-reset($white);
                    @include poirot;
                    background-color: transparent;
                    background-position: center center;
                    background-size: 1.5rem 1.5rem;
                    border-radius: 6px;
                    height: calc(3rem - 6px);
                    width: 3rem;

                    &:hover,
                    &:focus {
                        @include button-reset($hoverBlue);
                    }

                    @include screen('mobile') {
                        width: 2rem;
                    }
                }

                > .search__reset {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23ff0000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='a' cx='11.998' cy='12' r='11.25'/%3E%3Cline class='a' x1='7.498' y1='16.5' x2='16.497' y2='7.5'/%3E%3Cline class='a' x1='16.498' y1='16.5' x2='7.497' y2='7.5'/%3E%3C/svg%3E");
                }
            }

            > .remainingIdps__defaultIdp {
                @include informational;
                margin: 1.25rem 0 1.25rem;

                > .wayf__defaultIdpLink {
                    color: $black;

                    &:focus {
                        box-shadow: 0 0 0 3px $white;
                    }
                }
            }

            > .wayf__rememberChoice {
                margin-bottom: 3rem;

                > label[for="rememberChoice"] {
                    @include font-style-large;
                    color: $buttonBlue;
                }

                > #rememberChoice {
                    height: 1.2rem;
                    margin: 0 0 0 10px;
                    vertical-align: sub;
                    width: 1.2rem;
                }
            }
        }

        > .wayf__noAccess {
            > .noAccess__title {
                @include h2;
            }

            > .noAccess__helpdesk {
                font-size: $f-large;
            }

            > .noAccess__requestForm {
                margin: 2rem 0;

                > .notification__critical {
                    @include critical;
                }

                fieldset {
                    appearance: none;
                    border: none;
                    margin-bottom: 1.5rem;
                    padding: 0;
                }

                input,
                label,
                textarea {
                    display: block;
                }

                input,
                textarea {
                    @include form-focus;
                    border: 1px solid $inputBorderGray;
                    border-radius: 8px;
                    font-size: $f-large;
                    line-height: 1.5;
                    padding: 1rem;
                    width: 100%;

                    &:hover {
                        background-color: $hoverBlue;
                    }

                    &:invalid {
                        border: 1px solid $red;
                        background-color: $errorRed;
                    }

                    &:not(:valid) {
                        border: 1px solid $red;
                        background-color: $errorRed;
                    }

                }

                input {
                    height: 3rem;
                }

                label {
                    @include font-style-large;
                    margin-bottom: .75rem;

                    > strong {
                        color: $red;
                        font-weight: $bolder;
                    }
                }

                input:not(:invalid) + .form__error {
                    display: none;
                }

                .form__error {
                    @include triangle;
                    background-size: $f-large $f-large;
                    color: $red;
                    font-size: $f-large;
                    margin: calculateRem(10px) 0 0;
                    padding-left: 1.5rem;
                }

                > .noAccess__ctas {
                    display: flex;
                    justify-content: space-between;

                    > button[class^="cta"] {
                        padding: .5rem;
                        width: 48%;

                        @include screen('mobile') {
                            width: unset;
                        }
                    }

                    > .cta__cancel {
                        @include button-secondary($gray);

                        &:focus {
                            padding: .5rem;
                        }

                        @include screen('mobile') {
                            flex-basis: 40%;
                        }

                        @include screen('smallMobile') {
                            flex-basis: 35%;
                        }
                    }

                    > .cta__request,
                    .cta__showForm {
                        @include button-primary($buttonBlue);

                        @include screen('mobile') {
                            flex-basis: 56%;
                        }

                        @include screen('smallMobile') {
                            flex-basis: 61%;
                        }
                    }
                }
            }
        }

        > .wayf__noResults {
            @include poirot;
            background-position: left top .5rem;
            margin: calculateRem(50px) 0 1rem;
            padding-left: 48px;

            @include screen('mobile') {
                margin: 2rem 0 .5rem;
            }

            > h3 {
                margin: 0 0 .5rem .5rem;
            }

            > p {
                &:first-of-type {
                    margin-top: 0;
                    margin-left: .5rem;
                }
            }
        }

        > .buttonLink--secondary {
            > .wayf__backLink {
                @include button-secondary($gray);
                display: block;
                width: 100%;
            }
        }
    }
}
