@use "../breakpoints";
@use "../../../skeune/stylesheets/mixins-skeune" as mixins;

noscript {
    > .noScript {
        @include mixins.warning;
        margin: 1rem 2rem;

        @include breakpoints.screen('mobile') {
            margin: 1rem 1rem;
        }

        @include breakpoints.screen('smallMobile') {
            margin: 1rem .5rem;
        }

        p {
            margin: 0;
        }

        p.noScript__middle {
            margin: 1rem 0;
        }
    }
}
