.openToggle__checkBox {
    display: none;
}

.openToggle__checkBox:checked ~ .consent__attributes {
    max-height: 400vh;
    transition: max-height .6s ease-in;

    > .consent__attribute:nth-of-type(n+6) {
        @include display-grid;
    }

    > .openToggle {
        > .openToggle__label {
            > .showLess {
                display: block;
            }

            > .showMore {
                display: none;
            }
        }
    }
}

.openToggle {
    @include display-grid;
    @include grid-template-columns(33% 1% 57% 1% 8%);
    border-bottom: 1px solid $softBorderGray;
    line-height: 1.63;

    @include screen('mobile') {
        @include grid-template-columns(100%);
        @include grid-template-rows(min-content min-content);
        padding: 10px;

        > * {
            padding: 0;
        }
    }

    > .openToggle__label {
        @include grid-position(1, 2, 3, 4);
        background-image: unset;
        color: $buttonBlue;
        cursor: pointer;
        display: flex;
        height: unset;
        font-weight: $bolder;
        justify-content: left;
        padding: 1.2rem 35px 1.2rem 0;
        width: unset;

        @include screen('mobile') {
            @include grid-position(2, 3, 1, 2);
            justify-content: center;
        }

        > .showLess,
        > .showMore {
            padding-right: 30px;
        }

        > .showLess {
            @include openModal;
            display: none;
        }

        > .showMore {
            @include closeToggle;
            display: block;
        }
    }
}
