body::after {
    position: fixed;
    width: 109px;
    height: 28px;
    top: 15px;
    right: -25px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 30px;
    transform: rotate(45deg);
    content: attr(data-envname);
}

body[data-ribboncolor="crimson"]::after {
    background-color: crimson;
}
body[data-ribboncolor="orange"]::after {
    background-color: orange;
}
body[data-ribboncolor="hotpink"]::after {
    background-color: hotpink;
}
body[data-ribboncolor="khaki"]::after {
    background-color: khaki;
}
body[data-ribboncolor="darkorchid"]::after {
    background-color: darkorchid;
}
