@use "../mixins";
@use "../variables";

/**
 * Spinner created by buzinas & modified for this project
 * Repo @ https://github.com/buzinas/tiny-spinner.
 */
.spinner {
    @include mixins.motion {
        animation: spin 1s linear infinite;
    }

    border: 0.25rem solid variables.$white;
    border-bottom: 0.25rem solid variables.$yellow;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.spinner--hidden {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
