.comp-table {
    border: 1px solid $border;
    border-radius: 4px;
    margin-bottom: 2rem;
    width: 100%;

    th,
    td {
        border-bottom: 1px solid $border;
        padding: .75rem 1rem;
        white-space: nowrap;
    }

    td.smaller {
        font-size: 0.8em;
    }

    td.green {
        color: $green;
    }

    thead {
        th,
        td {
            border-bottom: 1px solid $border;
            color: $mediumGrey;
            font-size: $f-normal;
            line-height: 25px;
        }
    }

    @for $i from 1 through 20 {
        .percent_#{$i * 5} {
            width: #{$i * 5%};
        }
    }
}

.comp-small-table {
    font-size: $f-small;

    tr:last-child {
      th,
      td {
        border-bottom: 0;
      }
    }

    th,
    td {
        background: mix($border, $white);
        border-bottom: 1px solid $white;
        padding: .5rem 1rem;
    }
}

.remove-cookies {
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;

    td {
      button.grey {
          background: $lighterDarkGrey;
          color: $lightGrey;
      }
    }

    td.small-column {
        width: 20%;
    }
}
