{% extends '@themeLayouts/scripts/default.html.twig' %}

{# SP and IdP name are stored in a local variable for convenience #}
{% set spName = sp.displayName(locale()) %}
{% set organizationName = sp.organizationName(locale())|default('unknown_organization_name'|trans) %}
{% set idpName = idp.displayName(locale()) %}

{# Prepare the page title #}
{% if minimalConsent %}
    {% set pageTitle = 'consent_h1_text_minimal'|trans({'%arg1%': spName}) %}
{% else %}
    {% set pageTitle = 'consent_h1_text'|trans %}
{% endif %}

{# Load the sorted/ordered and normalized attributes #}
{% set attributesBySource = sortByDisplayOrder(attributes, attributeSources, nameId) %}

{% block title %}{{ parent() }} - {{ pageTitle }} {% endblock %}

{% block content %}
    {% include '@theme/Default/Partials/LoginBar.html.twig' with { loginName: 'suite_name'|trans } %}
    <main class="consent">
        {% include '@theme/Authentication/View/Proxy/Partials/Shared/header.html.twig' %}

        <noscript>
            {% include '@theme/Default/Partials/warning.html.twig' with {
                className: 'consent__noScript',
                text: 'consent_nojs'|trans
            } %}
        </noscript>

        {% block consent_content %}
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/consentContent.html.twig' %}
            {% include '@theme/Authentication/View/Proxy/Partials/Consent/nokSection.html.twig' %}
        {% endblock %}
    </main>
{% endblock %}
