/*******************************************************************
    This is the main entry point for CSS.
    Anything which does not get added here (or imported in one of the imports) does not get compiled.
 ******************************************************************/

@import 'helpers';
@import 'shared';
@import 'components';
@import 'pages/consent';
@import 'pages/form';
@import 'pages/wayf';
@import 'pages/logout';
