/*******************************************************************
    Generic reusable classes.
    Page-specific classes do not belong here.
 ******************************************************************/
@import 'vars.overrides';

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    max-width: 50rem;
    min-width: 38rem;
}

.tooltip__value,
.modal__value {
    display: none;
}

.modal__value {
    line-height: 1.5;

    .modal__content {
        background-color: $white;
        font-weight: $normal;
        padding: 1rem;

        > h3 {
            margin-top: 0;
        }
    }
}

.slidein {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 100%;
    top: 0;
    -webkit-transition: right .5s ease-in-out;
    transition: right .5s ease-in-out;
    overflow: hidden;
}
