/*******************************************************************
    Generic font face rules.
 ******************************************************************/

@font-face {
    font-family: 'ProximaNovaSoft';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ProximaNovaSoft-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaSoft';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ProximaNovaSoft-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaSoft';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ProximaNovaSoft-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'ProximaNovaSoft';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ProximaNovaSoft-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SourceSansProBlack';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProBlack';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProExtraLight';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProExtraLight';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProLight';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansProLight';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}
