/*******************************************************************
    Generic sass-mixins
 ******************************************************************/

@mixin appearance($value: none) {
    -moz-appearance: $value;
    -webkit-appearance: $value;
    appearance: $value;
}

@mixin remove-outline {
    outline: none;
    padding: 0;

    &:focus {
        outline: none;
        padding: 0;
    }
}

// Clear user-agent styles for button.
// If no background-color is set on the body element, use with a background-color.
// Else you'll see a grey background still in safari and IE.
@mixin button-reset($background-color: inherit) {
    @include appearance;
    background-color: $background-color;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    padding: 0;
}

// Controls whether the user can select text
@mixin select($value: none) {
    -moz-user-select: $value;
    -ms-user-select: $value;
    -webkit-user-select: $value;
    user-select: $value;
}

// Do not use, use the helpers below
// Example usage: .sub-menu {
//  @include absolute(top 100% left 0 right 12px);
//}
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);
        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
            #{$o}: nth($args, $i + 1);
        }
    }
    position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
    @include position(absolute, $args);
}

@mixin fixed($args: '') {
    @include position(fixed, $args);
}

@mixin relative($args: '') {
    @include position(relative, $args);
}

// A whole lot of grid mixins below
// Ensure CSS grid works with IE 11 spec.
// sass-lint:disable no-vendor-prefixes, no-duplicate-properties
@mixin display-grid {
    display: -ms-grid;
    display: grid;
}

// $rows values should be delimited by a space
@mixin grid-template-rows($rows...) {
    -ms-grid-rows: $rows;
    grid-template-rows: $rows;
}

// $columns values should be delimited by a space
@mixin grid-template-columns($columns...) {
    -ms-grid-columns: $columns;
    grid-template-columns: $columns;
}

// Can be used in combination with above grid-template-X mixins.
// These result in the same output:
// @include grid-template-columns(10px grid-repeat(4, 20px) 30px);
// @include grid-template-columns(10px 20px 20px 20px 20px 30px);
@function grid-repeat($repeat, $stuff: 1fr) {
    $list: ();
    @for $i from 1 through $repeat {
        $list: append($list, $stuff, space);
    }
    @return $list;
}

@mixin grid-position($row-start, $row-end, $col-start, $col-end) {
    @include grid-column($col-start, $col-end);
    @include grid-row($row-start, $row-end);
}

@mixin grid-row($row-start, $row-end) {
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-row: #{$row-start} / #{$row-end};
}

@mixin grid-column($col-start, $col-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    grid-column: #{$col-start} / #{$col-end};
}

@mixin grid-align-self($value) {
    -ms-grid-row-align: $value;
    align-self: $value;
}

@mixin grid-justify-self($value) {
    -ms-grid-column-align: $value;
    justify-self: $value;
}

@mixin border-bottom-radius($value) {
    border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
}

@mixin font-style-large {
    font-size: $f-large;
    font-weight: $bolder;
}

@mixin font-style-xl {
    font-size: $f-xl;
    font-weight: $bolder;
}

@mixin button-shared ($background-color) {
    @if $background-color {
        @include button-reset($background-color);
    }

    @include font-style-large;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

@mixin button-secondary-border {
    border: 1px solid $buttonBlue;
    border-radius: 6px;
    padding: 1rem;
}

@mixin button-primary($background-color) {
    @include button-shared($background-color);
    @if $background-color {
        background: $background-color;
    } @else {
        background-color: $buttonBlue;
    }
    color: $white;

    &:hover {
        background-color: $darkishBlue;
        color: $lightBlue;
    }

    &:focus {
        border: 3px solid $lightBlue;
    }

    &:active {
        background-color: $darkishBlueTwo;
    }

    &:disabled {
        background-color: $lightPink;
        color: $brownGray;
    }
}

@mixin button-secondary ($background-color) {
    @include button-shared($background-color);
    border: 1px solid $buttonBlue;
    @if $background-color {
        background: $background-color;
    } @else {
        background-color: $white;
    }
    color: $buttonBlue;

    &:hover {
        background-color: $hoverBlue;
        border: 1px solid $darkishBlue;
        color: $darkishBlue;
    }

    &:focus {
        @include button-secondary-border;
    }

    &:active {
        background-color: $loginBlue;
        border: 1px solid $darkishBlue;
        color: $darkishBlue;
    }

    &:disabled {
        background-color: $white;
        border: 1px solid $secondaryDisabledGray;
        color: $brownGray;
    }
}

@mixin button-tertiary ($background-color) {
    @include button-shared($background-color);
    @if $background-color {
        background: $background-color;
    } @else {
        background-color: $white;
    }
    color: $buttonBlue;

    &:hover {
        background-color: $hoverBlue;
        color: $darkishBlueTwo;
        text-decoration: underline;
    }

    &:focus {
        @include button-secondary-border;
    }

    &:active {
        background-color: $white;
        color: $darkishBlueTwo;
    }

    &:disabled {
        color: $brownGray;
    }
}

@mixin add-account {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cpath id='4f5727nd1a' d='M17.5 9.5c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7 3.134-7 7-7zM6.25 0c2.21 0 4 1.79 4 4 0 1.227-.552 2.325-1.422 3.058C9.994 7.585 11 8.47 11.672 9.64c.275.48.11 1.09-.37 1.365-.478.275-1.09.11-1.364-.37-.959-1.67-2.92-2.486-4.781-1.99-1.795.477-3.063 2.061-3.152 3.9L2 12.75V14h1.25c.474 0 .877.332.977.785l.018.115.66 6.6h2.689l.234-2.332c.05-.51.477-.893.978-.9l.116.004c.51.05.893.477.9.978l-.004.116-.323 3.233c-.047.472-.417.84-.878.894L8.5 23.5H4c-.474 0-.877-.332-.977-.785l-.018-.115-.661-6.6H1c-.513 0-.936-.386-.993-.883L0 15v-2.25c.001-2.484 1.466-4.695 3.673-5.693C2.803 6.326 2.25 5.227 2.25 4c0-2.21 1.79-4 4-4zM17.5 11.5c-2.761 0-5 2.239-5 5s2.239 5 5 5 5-2.239 5-5-2.239-5-5-5zm0 1c.513 0 .936.386.993.883l.007.117v2h2c.552 0 1 .448 1 1 0 .513-.386.936-.883.993l-.117.007h-2v2c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L16.5 19.5v-2h-2c-.552 0-1-.448-1-1 0-.513.386-.936.883-.993l.117-.007h2v-2c0-.552.448-1 1-1zM6.25 2c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(4 4)'%3E%3Cmask id='vop37c516b' fill='%23fff'%3E%3Cuse xlink:href='%234f5727nd1a'/%3E%3C/mask%3E%3Cg fill='%230077C8' mask='url(%23vop37c516b)'%3E%3Cpath d='M0 0H32V32H0z' transform='translate(-4 -4)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 29px;
}

@mixin add-account-hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cpath id='4f5727nd1a' d='M17.5 9.5c3.866 0 7 3.134 7 7s-3.134 7-7 7-7-3.134-7-7 3.134-7 7-7zM6.25 0c2.21 0 4 1.79 4 4 0 1.227-.552 2.325-1.422 3.058C9.994 7.585 11 8.47 11.672 9.64c.275.48.11 1.09-.37 1.365-.478.275-1.09.11-1.364-.37-.959-1.67-2.92-2.486-4.781-1.99-1.795.477-3.063 2.061-3.152 3.9L2 12.75V14h1.25c.474 0 .877.332.977.785l.018.115.66 6.6h2.689l.234-2.332c.05-.51.477-.893.978-.9l.116.004c.51.05.893.477.9.978l-.004.116-.323 3.233c-.047.472-.417.84-.878.894L8.5 23.5H4c-.474 0-.877-.332-.977-.785l-.018-.115-.661-6.6H1c-.513 0-.936-.386-.993-.883L0 15v-2.25c.001-2.484 1.466-4.695 3.673-5.693C2.803 6.326 2.25 5.227 2.25 4c0-2.21 1.79-4 4-4zM17.5 11.5c-2.761 0-5 2.239-5 5s2.239 5 5 5 5-2.239 5-5-2.239-5-5-5zm0 1c.513 0 .936.386.993.883l.007.117v2h2c.552 0 1 .448 1 1 0 .513-.386.936-.883.993l-.117.007h-2v2c0 .552-.448 1-1 1-.513 0-.936-.386-.993-.883L16.5 19.5v-2h-2c-.552 0-1-.448-1-1 0-.513.386-.936.883-.993l.117-.007h2v-2c0-.552.448-1 1-1zM6.25 2c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(4 4)'%3E%3Cmask id='vop37c516b' fill='%23fff'%3E%3Cuse xlink:href='%234f5727nd1a'/%3E%3C/mask%3E%3Cg fill='%23004C97' mask='url(%23vop37c516b)'%3E%3Cpath d='M0 0H32V32H0z' transform='translate(-4 -4)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 29px;
}

@mixin poirot {
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0' maskUnits='userSpaceOnUse' x='6' y='6' width='35' height='35'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.0492 28.9725L39.738 35.6613C40.8623 36.786 40.8623 38.609 39.738 39.7337C38.6054 40.8385 36.7983 40.8385 35.6657 39.7337L28.9769 33.0463C22.6621 37.2681 14.1746 36.0111 9.35444 30.1403C4.53427 24.2695 4.95358 15.6998 10.3239 10.3276C15.6942 4.95538 24.2638 4.53303 30.1363 9.35113C36.0088 14.1692 37.2687 22.6562 33.0492 28.9725ZM31.2218 20.7775C31.2218 15.0116 26.5477 10.3375 20.7818 10.3375C15.0186 10.3438 10.3482 15.0142 10.3418 20.7775C10.3418 26.5433 15.016 31.2175 20.7818 31.2175C26.5477 31.2175 31.2218 26.5433 31.2218 20.7775Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect width='48' height='48' fill='%230077C8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

@mixin tooltip {
    width: 24px;
    height: 24px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a,.b%7Bfill:none;stroke:currentColor;stroke-width:1.5px;%7D.a%7Bstroke-linecap:round;stroke-linejoin:round;%7D.b%7Bstroke-miterlimit:10;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Equestion-circle%3C/title%3E%3Cpath class='a' d='M9,9a3,3,0,1,1,4,2.829,1.5,1.5,0,0,0-1,1.415V14.25'/%3E%3Cpath class='a' d='M12,17.25a.375.375,0,1,0,.375.375A.375.375,0,0,0,12,17.25h0'/%3E%3Ccircle class='b' cx='12' cy='12' r='11.25'/%3E%3C/svg%3E") no-repeat;
}

@mixin tooltip-checked {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Edelete-1%3C/title%3E%3Ccircle class='a' cx='11.998' cy='12' r='11.25'/%3E%3Cline class='a' x1='7.498' y1='16.5' x2='16.497' y2='7.5'/%3E%3Cline class='a' x1='16.498' y1='16.5' x2='7.497' y2='7.5'/%3E%3C/svg%3E") no-repeat;
}

@mixin no-talking {
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='30' viewBox='0 0 29 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2768 30C11.5708 30 9.90747 29.5187 8.46558 28.608C8.00007 28.3133 7.86001 27.6947 8.15346 27.2293C8.33887 26.9373 8.65499 26.764 9.00046 26.764C9.18986 26.764 9.37393 26.8173 9.534 26.9187C10.6544 27.6267 11.9496 28.0013 13.2754 28.0013H17.1636C18.7269 28.0013 20.1915 27.3947 21.2919 26.2947C22.3923 25.1933 22.9992 23.7307 22.9992 22.1733V12C22.9992 11.448 23.4474 11 23.9996 11C24.5518 11 25 11.448 25 12V22.172C25 24.2627 24.185 26.228 22.7058 27.7067C21.2279 29.1853 19.2618 30 17.169 30H13.2768Z' fill='%23AFAFAF'/%3E%3Cpath d='M4.16349 22C3.83836 22 3.53526 21.8333 3.35521 21.556L1.50032 18.6947C0.833228 17.6667 0.833228 16.3373 1.50032 15.308C1.54824 15.2333 1.59876 15.1627 1.65316 15.0933C2.21792 14.3667 3.06247 13.9507 3.96919 13.9507C4.63887 13.9507 5.29689 14.188 5.8189 14.6187L7.39918 15.92V5C7.39918 3.34533 8.70616 2 10.3136 2C10.6867 2 11.0481 2.072 11.3875 2.212C11.7255 0.937333 12.8576 0 14.1996 0C15.5415 0 16.6749 0.938667 17.0117 2.212C17.3511 2.072 17.7138 2 18.0855 2C19.693 2 21 3.34533 21 5C21 5.552 20.5648 6 20.0285 6C19.4923 6 19.057 5.552 19.057 5C19.057 4.448 18.6218 4 18.0855 4C17.5493 4 17.1141 4.448 17.1141 5V8C17.1141 8.552 16.6788 9 16.1426 9C15.6063 9 15.1711 8.552 15.1711 8V3C15.1711 2.448 14.7359 2 14.1996 2C13.6633 2 13.2281 2.448 13.2281 3V12C13.2281 12.552 12.7929 13 12.2566 13C11.7204 13 11.2851 12.552 11.2851 12V5C11.2851 4.448 10.8499 4 10.3136 4C9.77738 4 9.34216 4.448 9.34216 5V18C9.34216 18.3813 9.12584 18.736 8.79165 18.9013C8.66212 18.9653 8.51575 19 8.37197 19C8.15176 19 7.93674 18.9227 7.76576 18.7813L4.60648 16.1813C4.42255 16.0293 4.20364 15.9507 3.97178 15.9507C3.93292 15.9507 3.89406 15.9533 3.8552 15.9573C3.58318 15.988 3.33966 16.1267 3.16998 16.3453C3.15055 16.3693 3.13371 16.3933 3.11817 16.4187C2.8876 16.7733 2.8876 17.2307 3.11817 17.5853L4.97176 20.444C5.26839 20.9027 5.14792 21.5253 4.70363 21.8307C4.54301 21.9413 4.35649 22 4.16349 22Z' fill='%23AFAFAF'/%3E%3Cpath d='M1.00024 30C0.729562 30 0.466887 29.888 0.278881 29.6933C0.0935417 29.5013 -0.00512807 29.248 0.000205428 28.9813C0.00553893 28.7147 0.113542 28.4653 0.306882 28.28L27.3077 2.28C27.4957 2.1 27.7411 2 28.0011 2C28.2718 2 28.5344 2.112 28.7211 2.30667C28.9065 2.49867 29.0051 2.752 28.9998 3.01867C28.9945 3.28533 28.8865 3.53467 28.6945 3.72L1.69359 29.72C1.50692 29.9013 1.26025 30 1.00024 30Z' fill='%23AFAFAF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

@mixin trashcan {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='33' viewBox='0 0 32 33'%3E%3Cdefs%3E%3Cpath id='n2x65lc33a' d='M18.5 7.5c.276 0 .5.224.5.5v14c0 1.105-.895 2-2 2H5c-1.105 0-2-.895-2-2V8c0-.276.224-.5.5-.5zm-10 3.25c-.414 0-.75.336-.75.75v9c0 .414.336.75.75.75s.75-.336.75-.75v-9c0-.414-.336-.75-.75-.75zm5 0c-.414 0-.75.336-.75.75v9c0 .414.336.75.75.75s.75-.336.75-.75v-9c0-.414-.336-.75-.75-.75zM13.5 0C14.88 0 16 1.12 16 2.5v1.25c0 .138.112.25.25.25H21c.552 0 1 .448 1 1s-.448 1-1 1H1c-.552 0-1-.448-1-1s.448-1 1-1h4.75c.066 0 .13-.026.177-.073.047-.047.073-.11.073-.177V2.5C6 1.12 7.12 0 8.5 0zm0 2h-5c-.276 0-.5.224-.5.5v1.25c0 .138.112.25.25.25h5.5c.138 0 .25-.112.25-.25V2.5c0-.276-.224-.5-.5-.5z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5 4)'%3E%3Cmask id='po5gl88nub' fill='%23fff'%3E%3Cuse xlink:href='%23n2x65lc33a'/%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23n2x65lc33a'/%3E%3Cg fill='%230077C8' mask='url(%23po5gl88nub)'%3E%3Cpath d='M0 0H32V32H0z' transform='translate(-5 -4)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
}

@mixin trashcan-hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='33' viewBox='0 0 32 33'%3E%3Cdefs%3E%3Cpath id='nat6tfl63a' d='M18.5 7.5c.276 0 .5.224.5.5v14c0 1.105-.895 2-2 2H5c-1.105 0-2-.895-2-2V8c0-.276.224-.5.5-.5zm-10 3.25c-.414 0-.75.336-.75.75v9c0 .414.336.75.75.75s.75-.336.75-.75v-9c0-.414-.336-.75-.75-.75zm5 0c-.414 0-.75.336-.75.75v9c0 .414.336.75.75.75s.75-.336.75-.75v-9c0-.414-.336-.75-.75-.75zM13.5 0C14.88 0 16 1.12 16 2.5v1.25c0 .138.112.25.25.25H21c.552 0 1 .448 1 1s-.448 1-1 1H1c-.552 0-1-.448-1-1s.448-1 1-1h4.75c.066 0 .13-.026.177-.073.047-.047.073-.11.073-.177V2.5C6 1.12 7.12 0 8.5 0zm0 2h-5c-.276 0-.5.224-.5.5v1.25c0 .138.112.25.25.25h5.5c.138 0 .25-.112.25-.25V2.5c0-.276-.224-.5-.5-.5z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5 4)'%3E%3Cmask id='jgoskdqssb' fill='%23fff'%3E%3Cuse xlink:href='%23nat6tfl63a'/%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23nat6tfl63a'/%3E%3Cg fill='%23004C97' mask='url(%23jgoskdqssb)'%3E%3Cpath d='M0 0H32V32H0z' transform='translate(-5 -4)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin warning {
    background: $brownOrange url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cpath id='a' d='M12 0c6.624.007 11.993 5.376 12 12 0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm.375 15.5c-.758 0-1.375.617-1.375 1.375s.617 1.375 1.375 1.375 1.375-.617 1.375-1.375-.617-1.375-1.375-1.375zm0-10.5a1 1 0 0 0-1 1v7.5l.007.117a1 1 0 0 0 1.993-.117V6l-.007-.117A1 1 0 0 0 12.375 5z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(4 4)'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%23FFF' stroke-width='2' d='M12-1h.001C19.177-.992 24.992 4.823 25 12c0 7.18-5.82 13-13 13S-1 19.18-1 12 4.82-1 12-1z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill='%23FF9D0B' mask='url(%23b)'%3E%3Cpath d='M-4-4h32v32H-4V-4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") no-repeat 1.125rem 1.125rem;
    border-radius: 8px;
    box-shadow: 0 1px 0 2px $orange;
    font-size: $f-large;
    padding: 1.125rem 1.125rem 1.125rem calculateRem(53px);

    @include screen('mobile') {
        background-position: .625rem 1rem;
        padding: 1rem 1rem 1rem calculateRem(47px);
    }

    > h3 {
        color: $black;
        font-family: 'SourceSansPro', sans-serif;
        font-size: $f-large;
        font-weight: $boldest;
        line-height: 1.2;
        margin: 0;
    }

    > p:last-of-type {
        margin-bottom: 0;
    }
}

@mixin informational {
    background-color: $informationalBlue;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cpath id='a' d='M12 0c6.624.007 11.993 5.376 12 12 0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm-.583 8.75h-.667l-.117.007a1 1 0 0 0 .117 1.993h.667v5l.003.19c.06 1.637.89 2.81 2.5 2.81h.83l.117-.007a1 1 0 0 0-.117-1.993h-.83l-.072-.004c-.297-.033-.431-.287-.431-.996v-5l-.006-.15a2 2 0 0 0-1.994-1.85zm.833-5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(4 4)'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' stroke='%23FFF' stroke-width='2' d='M12-1h.001C19.177-.992 24.992 4.823 25 12c0 7.18-5.82 13-13 13S-1 19.18-1 12 4.82-1 12-1z'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg fill='%2300A8CA' mask='url(%23b)'%3E%3Cpath d='M-4-4h32v32H-4V-4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: 1.125rem .75rem;
    background-repeat: no-repeat;
    border-radius: 8px;
    font-size: $f-normal;
    padding: 1.125rem 1.125rem 1.125rem calculateRem(53px);

    @include screen('mobile') {
        background-position: left .35rem top .5rem;
        padding: .5rem .5rem .5rem 2.5rem;
    }

    > h3 {
        color: $black;
        font-family: 'SourceSansPro', sans-serif;
        font-size: $f-large;
        font-weight: $boldest;
        line-height: 1.2;
        margin: 0;
    }

    > p:last-of-type {
        margin-bottom: 0;
    }
}

@mixin h2 {
    color: $green;
    font-size: $f-h2;
    font-weight: $bolder;
}

@mixin webkit-input {
    -webkit-appearance: none;
}
