<div class="noAccess__ctas">
    <button type="button" class="cta__cancel">
        <span class="noAccess__connectable">{{ 'cancel'|trans }}</span>
        <span class="noAccess__unconnectable">{{ 'back'|trans }}</span>
    </button>
    <button type="button" class="cta__showForm noAccess__connectable">{{ 'request_access'|trans }}</button>
    <button type="submit" class="cta__request hidden">{{ 'send_request'|trans }}</button>
</div>
