<div class="noAccess__ctas">
    <button type="button" class="cta__cancel">{{ 'cancel'|trans }}</button>
    <button type="button" class="cta__showForm">{{ 'request_access'|trans }}</button>
    <a href="#top" class="cta__request hidden">{{ 'send_request'|trans }}</a>
</div>
