<div class="noAccess__ctas">
    <button type="button" class="cta__cancel">{{ 'cancel'|trans }}</button>
    {# todo: wat moet dit doen? #}
    <button type="button" class="cta__request">{{ 'request_access'|trans }}</button>
</div>
