<p class="noAccess__helpdesk">
    <span class="noAccess__connectable">{{ 'wayf_no_access_helpdesk'|trans({ '%orgNoun%': 'organisation_noun'|trans }) }}</span>
    <span class="noAccess__unconnectable">{{ 'wayf_no_access_helpdesk_not_connected'|trans({ '%buttonText%': 'wayf_add_account'|trans }) }}</span>
</p>
