<section class="wayf__noAccess hidden">
    <h2 class="noAccess__title">{{ 'wayf_no_access'|trans }}</h2>
    <ul class="wayf__idpList">
        <li>
            {# placeholder for the idp without access #}
        </li>
    </ul>
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noAccess/helpdesk.html.twig' %}
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noAccess/requestForm.html.twig' %}
</section>
