<section class="wayf__noAccess wayf__noAccess--connectable hidden" role="alert">
    <h2 id="noAccess__title" class="noAccess__title">{{ 'wayf_no_access'|trans }}</h2>
    <ul class="wayf__idpList" aria-labelledby="noAccess__title">
        <li>
            {# placeholder for the idp without access #}
        </li>
    </ul>
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noAccess/helpdesk.html.twig' %}
    {% include '@theme/Authentication/View/Proxy/Partials/WAYF/noAccess/requestForm.html.twig' %}
</section>
