/*******************************************************************
    This is the main entry point for CSS.
    Anything which does not get added here (or imported in one of the imports) does not get compiled.
 ******************************************************************/

@import 'helpers';
@import './mixins-skeune';
@import '../../base/stylesheets/shared';
@import '../../base/stylesheets/components';
@import '../../base/stylesheets/pages/consent';
@import '../../base/stylesheets/pages/wayf';
@import '../../base/stylesheets/pages/form';
@import '../../base/stylesheets/pages/logout';
