@import 'helpers.scss';

html {
    scroll-behavior: smooth;
}

body {
    align-items: center;
    background: $skeuneBlue;
    display: flex;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 100%;
    justify-content: center;

    a,
    button {
        &:hover,
        &:focus {
            outline: 2px dotted $white;
        }
    }


    > .container {
        > p.loginBar {
            background-color: $skeuneBlue;
            color: $skeuneLightBlue;
            font-family: 'ProximaNovaSoft', sans-serif;
            font-size: $f-xl;
            line-height: 5rem;
            margin: 0;
            padding: 0 2rem;
        }

        > main {
            background-color: $skeuneGray;

            > header {
                font-family: 'ProximaNovaSoft', sans-serif;

                h1 {
                    background-color: $skeuneYellow;
                    color: $black;
                    font-size: $f-xl;
                    font-weight: $bolder;
                    line-height: calculateRem(26px);
                    margin: 0;
                    padding: calculateRem(26px) 2rem;
                }

                h2 {
                    background-color: $skeuneGray;
                    color: $skeuneGreen;
                    font-size: $f-h2;
                    font-weight: $bolder;
                    line-height: 1.15;
                    margin: 0;
                    padding: calculateRem(24px) 2rem calculateRem(34px);
                }
            }
        }

        footer.footer__general {
            background-color: $skeuneBlue;
            color: $skeuneLightBlue;
            margin: 1rem 0 calculateRem(11px);

            > .footer__menu {
                display: flex;
                font-size: $f-normal;
                font-weight: $bolder;
                justify-content: space-between;
                line-height: 1.5;

                a {
                    color: $skeuneLightBlue;

                    &.selected,
                    &:hover,
                    &:focus{
                        color: $white;
                    }

                    &:hover,
                    &:focus {
                        line-height: 1.75;
                    }
                }

                ul.comp-language {
                    display: inline-block;
                    line-height: inherit;
                    margin: 0;
                    position: unset;

                    > li {
                        display: inline-block;

                        > a {
                            background-color: inherit;
                        }

                        &:nth-of-type(even) {
                            border-left: 1px solid $white;
                        }
                    }
                }
            }
        }
    }
}

