@import './attribute';

.consent__attributes {
    background-color: $white;
    border: 1px solid $hardBorderGray;
    border-radius: 6px;
    box-shadow: 0 1px 0 2px $hardBorderGray;
    margin: 0 0 2rem;
    max-height: initial;
    overflow: hidden;
    padding: 0;
    transition: max-height .6s ease-in;
}

@include ie11Only('.consent__attributes') {
    max-height: 200vh;
}
