.attribute__value,
.attribute__valueWrapper {
    @include grid-position(1, 2, 3, 4);
    font-weight: $bolder;
    overflow-wrap: break-word;

    @include screen('mobile') {
        @include grid-position(2, 3, 1, 2);
        padding: 0;
    }
}

.attribute__value.attribute__value--list,
.attribute__valueWrapper > .attribute__value.attribute__value--list {
    list-style-type: disc;
    margin-left: 1rem;

    li:nth-child(n+6) {
        @include visually-hidden;
    }
}

.attribute__valueWrapper:not(.joske) {
    @include grid-position(1, 2, 3, 6);
    padding: 0;

    @include screen('mobile') {
        @include grid-position(2, 3, 1, 2);
    }

    > .attribute__value.attribute__value--list {
        margin: 0;
        padding: 1rem 0;

        &.animated {
            max-height: initial;
            overflow: hidden;
            transition: max-height .6s ease-in;
        }

        @include ie11Only('&.animated') {
            max-height: 60vh;
        }

        li:not(.consent__attributeNested--noTooltip) {
            &:first-of-type {
                margin-top: -4px;

                .attribute__value {
                    display: inline-block;
                    padding-right: 0;
                    width: 86.5%;
                }

                .ie11__label {
                    display: inline-block;
                    margin-top: -4px;
                    padding-top: 12px;
                    width: 12%;

                    label {
                        background-position: left 24px top 1.1rem
                    }
                }
            }

            .attribute__value {
                padding-right: 1rem;
                vertical-align: text-bottom;
            }
        }
    }

    > .groupMembership__label {
        background-image: unset;
        color: $buttonBlue;
        cursor: pointer;
        display: flex;
        height: unset;
        font-weight: $bolder;
        justify-content: center;
        margin-top: 1rem;
        width: unset;

        > .showLess,
        > .showMore {
            padding-right: 30px;
        }

        > .showLess {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='wusxz70bxa' d='M4.92 10.75c-.183 0-.367-.05-.528-.153-.416-.268-.517-.794-.225-1.176L8.319 4 4.18-1.422c-.292-.382-.19-.908.226-1.175.417-.268.99-.175 1.282.207l4.508 5.906c.221.291.221.678 0 .969L5.673 10.39c-.18.234-.464.359-.754.359'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5 8)'%3E%3Cmask id='etvz1reijb' fill='%23fff'%3E%3Cuse xlink:href='%23wusxz70bxa'/%3E%3C/mask%3E%3Cuse fill='%230077C8' transform='scale(1 -1) rotate(90 11.181 0)' xlink:href='%23wusxz70bxa'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right center;
            display: none;
        }

        > .showMore {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='25' height='24' viewBox='0 0 25 24'%3E%3Cdefs%3E%3Cpath id='t5vbpi1wma' d='M4.92 10.75c-.183 0-.367-.05-.528-.153-.416-.268-.517-.794-.225-1.176L8.319 4 4.18-1.422c-.292-.382-.19-.908.226-1.175.417-.268.99-.175 1.282.207l4.508 5.906c.221.291.221.678 0 .969L5.673 10.39c-.18.234-.464.359-.754.359'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(5.5 8)'%3E%3Cmask id='jsuhne1qsb' fill='%23fff'%3E%3Cuse xlink:href='%23t5vbpi1wma'/%3E%3C/mask%3E%3Cuse fill='%230077C8' transform='rotate(90 7.181 4)' xlink:href='%23t5vbpi1wma'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right center;
            display: block;
        }
    }
}

.groupMembership__checkbox:checked ~ .attribute__value--list {
    &.animated {
        max-height: initial;
        transition: max-height .6s ease-in;
    }

    @include ie11Only('&.animated') {
        max-height: 140vh;
    }


    li:nth-child(n+6) {
        @include visually-shown;
        display: list-item;
    }
}

.groupMembership__checkbox:checked ~ .attribute__value--list ~ .groupMembership__label {
    .showMore {
        display: none;
    }

    .showLess {
        display: block;
    }
}

.groupMembership__checkbox {
    display: none;
}
