@use 'attribute';
@use "../../mixins";
@use "../../variables";

.consent__attributes {
    background-color: variables.$white;
    border: 1px solid variables.$hardBorderGray;
    border-radius: 6px;
    box-shadow: 0 1px 0 2px variables.$hardBorderGray;
    margin: 0 0 2rem;
    max-height: initial;
    overflow: hidden;
    padding: 0;
    transition: max-height .6s ease-in;
}

.consent__noAttributes {
    list-style: none;
    padding: 1rem;
    text-align: center;
}

@include mixins.ie11Only('.consent__attributes') {
    max-height: 200vh;
}
