.consent__content-body {
    background-color: $gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 2rem 2.5rem;

    @include screen('mobile') {
        padding: 0 1rem 1.25rem;
    }

    @include screen('smallMobile') {
        padding: 0 .5rem 1.25rem;
    }

    > .notification__warning {
        @include warning;
    }
}
