.consent__ctas {
    line-height: 0.89;
    margin: 2rem 0 0;

    > form {
        .cta_consent_ok {
            @include button-primary($buttonBlue);
            margin-bottom: 1.5rem;
            width: 100%;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    > .button--tertiary {
        > div {
            @include button-tertiary($gray);

            > label.modal {
                background-image: unset;
            }
        }
    }

    > #cta_consent_nok:checked + .button--tertiary label {
        background-image: unset;
    }

    #cta_consent_nok:checked + .button--tertiary + .modal__value.animated {
        margin: 1rem auto 0;
    }

    > section.modal__value {
        margin: 1rem auto 0;

        &.animated {
            margin: 0;
        }

        @include screen('mobile') {
            width: 100%;
        }
    }
}
