@use "../../breakpoints";
@use "../../mixins";
@use "../../variables";

.consent__disclaimer {
    line-height: 1.5;
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 2rem;

    > .disclaimer__item {
        &.disclaimer__privacy {
            margin-bottom: 1rem;
        }

        &.disclaimer__secure,
        &.disclaimer__privacy {
            svg {
                margin-left: -0.05rem;
            }

        }

        > div {
            @include mixins.display-grid;
            @include mixins.grid-template-columns(67px calc(100% - 67px));

            > svg {
                @include mixins.grid-position(1, 2, 1, 2);
                margin-left: 14px;
            }

            @include mixins.ie11Only('> p, > div') {
                width: 87%;
            }

            > p,
            > div {
                @include mixins.grid-position(1, 2, 2, 3);
                margin: 0;

                > br {
                    @include breakpoints.screen('mobile') {
                        display: none;
                    }
                }

                > label {
                    &:focus {
                        box-shadow: none;
                        outline: 3px solid variables.$lightBlue;
                    }
                }

                label,
                a {
                    color: variables.$oceanBlue;
                    font-weight: variables.$bolder;
                }

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                > .modal__value {
                    margin: 1rem 0;

                    &.animated {
                        margin: 0;
                    }

                    @include breakpoints.screen('mobile') {
                        margin: 1rem 0 1rem -4rem;
                    }

                    .link__readmore {
                        display: inline-block;
                        padding: 5px;
                    }
                }

                > input:checked + label + .modal__value.animated,
                > input:checked + br + label + .modal__value.animated {
                    margin: 1rem 0;
                }

                > #consent_disclaimer_about + br + label + section.animated,
                > #consent_disclaimer_about + label + section.animated {
                    display: inline-block;
                    max-width: 0;
                }

                > #consent_disclaimer_about:checked + label + section.animated,
                > #consent_disclaimer_about:checked + br + label + section.animated {
                    display: block;
                    max-height: initial;
                    max-width: unset;
                }

                @include mixins.ie11Only('> #consent_disclaimer_about:checked + label + section.animated, > #consent_disclaimer_about:checked + br + label + section.animated') {
                    max-height: 40vh;
                }
            }
        }

        @include mixins.ie11Only('> div') {
            @include mixins.grid-template-columns(67px 545px);
        }
    }
}
