@use "../../breakpoints";
@use "../../functions";
@use "../../mixins";
@use "../../variables";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.idpRow {
    @include mixins.display-grid;
    @include mixins.grid-template-columns(10% 3% 48% 1% 37% 1%);
    align-items: center;
    background-color: variables.$providerGray;
    border-bottom: 1px solid variables.$softBorderGray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: variables.$f-small;
    font-weight: variables.$bolder;
    line-height: 1.63;
    text-align: left;

    @include breakpoints.screen('mobile') {
        @include mixins.grid-template-columns(15% 6% 78% 1%);
        @include mixins.grid-template-rows(min-content min-content);
        padding: 10px;
    }

    > * {
        padding: 1rem 0;

        @include breakpoints.screen('mobile') {
            padding: 0;
        }
    }

    > img {
        @include mixins.grid-position(1, 2, 1, 2);
        box-sizing: content-box;
        margin-left: 9px;
        max-height: functions.calculateRem(30px);
        max-width: 100%;
        overflow: hidden;
    }

    label.modal {
        color: variables.$brownishGray;
        padding: 10px 25px 10px 5px;
        text-align: right;
        text-decoration: underline;
        background-image: unset;

        @include breakpoints.screen('mobile') {
            text-align: left;
        }
    }

    > p {
        @include mixins.grid-position(1, 2, 3, 4);
        font-size: variables.$f-small;
        font-weight: variables.$normal;
        margin: 0;
        text-align: left;

        @include breakpoints.screen('mobile') {
            margin: 0 0 0 10px;
        }

        > label.modal {
            display: none;
        }

        > .idpRow__providedBy-content {
            > strong {
                font-weight: variables.$bolder;
            }
        }
    }

    > input[type="checkbox"],
    > .ie11__label,
    > .ie11__link {
        @include mixins.grid-position(1, 2, 5, 7);

        @include breakpoints.screen('mobile') {
            @include mixins.grid-position(2, 3, 3, 5);
        }
    }

    > .ie11__label,
    > .ie11__link {
        text-align: right;

        @include breakpoints.screen('mobile') {
            margin: 0 0 0 10px;
            padding: 0;
            text-align: inherit;
        }

        > label.modal {
            @include breakpoints.screen('mobile') {
                display: block;
                background-position: right 18px center;
                padding: 0 40px 0 0;
            }
        }

        > a.idpRow__supportUrl {
            color: variables.$oceanBlue;
            padding: 10px 25px 10px 0;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    > .modal__value {
        @include mixins.start-display-animated;
        @include mixins.grid-position(2, 3, 3, 7);
        transition: max-height .6s ease-in;

        > .modal__content {
            padding-left: 0;
            padding-top: 0;
        }

        @include breakpoints.screen('mobile') {
            @include mixins.grid-position(3, 4, 1, 5);
        }
    }

    > input:checked ~ .ie11__label {
        > label.modal {
            @include mixins-skeune.closeIdpRowLabel;
            background-position: right 23px top .5rem;
            display: inline-block;
            height: 25px;
            width: 100%;

            > .label-text {
                display: none;
            }

            @include breakpoints.screen('mobile') {
                display: none;
            }
        }
    }

    > input:checked + p {
        > label.modal {
            display: none;
        }

        @include breakpoints.screen('mobile') {
            display: flex;
            justify-content: space-between;

            > .idpRow__providedBy-content {
                display: inline-block;
                width: 86%;
            }

            > label.modal {
                @include mixins-skeune.closeIdpRowLabel;
                background-position: right 5px top .2rem;
                display: inline-block;
                height: 25px;
                width: 25px;
            }
        }
    }

    > input:checked ~ .ie11__label + .modal__value {
        display: flex;
        justify-content: center;
        margin: 0 auto 1rem;
        max-height: initial;

        > .modal__content {
            padding-left: 0;
        }

        @include breakpoints.screen('mobile') {
            margin: 0;

            > .modal__content {
                padding-left: 1rem;
            }
        }
    }

    @include mixins.ie11Only('> input:checked ~ .ie11__label + .modal__value') {
        max-height: 100vh;
    }
}

@include mixins.ie11Only('li.idpRow') {
    -ms-grid-columns: 85.68px 6.12px 246.6px 6.12px 160.36px 6.12px;
}

@include mixins.ie11Only('li.idpRow label.modal') {
    background: none;
}
