@use "../../breakpoints";
@use "../../mixins";
@use "../../variables";
@use "../../../../skeune/stylesheets/mixins-skeune" as mixins-skeune;

.openToggle__checkBox {
    display: none;
}

.openToggle__checkBox:checked ~ .consent__attributes {
    max-height: initial;
    transition: max-height .6s ease-in;

    > .consent__attribute:nth-of-type(n+6) {
        @include mixins.display-grid;
        @include mixins.visually-shown;
        padding: 3px 0;
    }

    > .consent__attribute:nth-of-type(6) {
        @include mixins-skeune.focus;
    }

    > .openToggle {
        > .openToggle__label {
            > .showLess {
                display: block;
            }

            > .showMore {
                display: none;
            }
        }
    }
}

@include mixins.ie11Only('.openToggle__checkBox:checked ~ .consent__attributes') {
    max-height: 400vh;
}

.openToggle {
    @include mixins.display-grid;
    @include mixins.grid-template-columns(33% 1% 57% 1% 8%);
    border-bottom: 1px solid variables.$softBorderGray;
    line-height: 1.63;

    @include breakpoints.screen('mobile') {
        @include mixins.grid-template-columns(100%);
        @include mixins.grid-template-rows(min-content min-content);
        padding: 10px;

        > * {
            padding: 0;
        }
    }

    > .openToggle__label {
        @include mixins.grid-position(1, 2, 3, 4);
        background-image: unset;
        color: variables.$buttonBlue;
        cursor: pointer;
        display: flex;
        height: unset;
        font-weight: variables.$bolder;
        justify-content: left;
        padding: 1.2rem 0;
        width: max-content;

        @include breakpoints.screen('mobile') {
            @include mixins.grid-position(2, 3, 1, 2);
            justify-content: center;
        }

        > .showLess,
        > .showMore {
            padding-right: 30px;
        }

        > .showLess {
            @include mixins-skeune.openModal;
            display: none;
        }

        > .showMore {
            @include mixins-skeune.closeToggle;
            display: block;
        }
    }
}
