{% extends '@themeLayouts/scripts/empty.html.twig' %}

{% block content %}
<div class="mod-form">
  <h1>{{ 'send_confirm'|trans }}</h1>
  <p>{{ 'send_confirm_desc'|trans }}</p>

  <div class="close-modal-container">
    <button type="button" class="c-button close-modal">{{ 'close'|trans }}</button>
  </div>
</div>
{% endblock %}
