
// Colors
$blue: #4DB3CF
$light-blue: #DFF6FB
$medium-blue: #CAECF4
$dark-blue: #017499
$darkest-blue: #19282D
$red: #dd3939
$red-light: mix(lighten($red,30),white)
$green: #95b926
$bright-green: #008000
$orange: #ec9a0a
$yellow: #ffcc00
$light-grey: lighten(black,95)
$medium-grey: #a2a2a2
$lighter-dark-grey: #a9a9a9
$dark-grey: #2b3f44
$table-bg: #f7f7f7
$link-grey: #6f6f6f
$light-pink: #fbdddb

// borders
$border: lighten(black,90)
$border-light: rgba(white, .1)
$border-dark: rgba(black, .1)

// Sizes
$padding: 2rem
$padding-em: 2em
$br: 4px

// Screen
$small: 400px
$medium: 800px
$large: 1200px
$container-width: 50rem

// Fonts
$fa-font-path: "../fonts/"

$font: Helvetica, sans-serif
$f-small: 13px
$f-normal: 15px
$f-large: 18px
$f-xl: 36px
